{%- if class.directiveSelectors -%}
<p class="blox-docs-directive-selectors">
  <span class="blox-docs-class-selector-label">Selector:</span>
  {% for selector in class.directiveSelectors %}
    <span class="blox-docs-class-selector-name">{$ selector $}</span>
  {% endfor %}
  {%- if class.directiveExportAs -%}
  <br/>
  <span class="blox-docs-class-export-label">Exported as:</span>
  <span class="blox-docs-class-export-name">{$ class.directiveExportAs $}</span>
  {%- endif -%}
</p>
{%- endif -%}

{%- if class.description -%}
<div class="blox-docs-class-description">{$ class.description | marked | safe $}</div>
{%- endif -%}

{%- if class.isDeprecated -%}
<div class="blox-docs-class-deprecated-marker">Deprecated</div>
{%- endif -%}

{$ propertyList(class.properties) $}

{$ methodList(class.methods) $}