<table class="blox-docs-method-table">
  <thead>
    <tr class="blox-docs-method-name-row">
      <th colspan="2" class="blox-docs-method-name-cell">
        {%- if method.isDeprecated -%}
          <div class="blox-docs-deprecated-marker">Deprecated</div>
        {%- endif -%}   
        {$ method.name $}(
          {%- set comma = joiner(', ') -%}
          {%- for parameter in method.params -%}
            {$ comma() $}{$ parameter.name $}
          {%- endfor -%}
        )
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="blox-docs-method-description-row">
      <td colspan="2" class="blox-docs-method-description-cell">
        {$ method.description | marked | safe $}
      </td>
    </tr>
  </tbody>

  {%- if method.params.length -%}
  <thead>
    <tr class="blox-docs-method-parameters-header-row">
      <th colspan="2" class="blox-docs-method-parameters-header-cell">Parameters</th>
    </tr>
  </thead>
  <tbody>
    {% for parameter in method.params %}
    <tr class="blox-docs-method-parameter-row">
      <td class="blox-docs-method-parameter-cell">
        <p class="blox-docs-method-parameter-name">
          {$ parameter.name $}
          {%- if parameter.isOptional -%}
            <span class="blox-docs-method-parameter-optional-marker">?</span>
          {%- endif -%}
        </p>
        <code class="blox-docs-method-parameter-type">{$ parameter.type $}</code>
      </td>
      <td class="blox-docs-method-parameter-description-cell">
        {$ parameter.description | marked | safe $}
      </td>
    </tr>
    {% endfor %}
  </tbody>
  {%- endif -%}

  {%- if method.showReturns -%}
  <thead>
    <tr class="blox-docs-method-returns-header-row">
      <th colspan="2" class="blox-docs-method-returns-header-cell">Returns</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="blox-docs-method-returns-type-cell">
        <code class="blox-docs-method-returns-type">{$ method.type $}</code>
      </td>
      <td class="blox-docs-method-returns-description-cell">
        {$ method.returns.description | marked | safe $}
      </td>
    </tr>
  </tbody>
  {%- endif -%}
</table>