<fieldset class="blox-snippet snippet-skip-line">
<p>Multi-select based on native select:</p>
<select mdcSelect multiple size="8" [(ngModel)]="value">
  <optgroup mdcSelectGroup label="Fats, Oils, &amp; Sweets">
    <option mdcSelectOption>Olive Oil</option>
    <option mdcSelectOption>Brown Sugar</option>
    <option mdcSelectOption>Ice Cream</option>
  </optgroup>
  <option mdcListDivider></option>
  <optgroup mdcSelectGroup label="Dairy">
    <option mdcSelectOption>Milk</option>
    <option mdcSelectOption>Cheese</option>
    <option mdcSelectOption>More Cheese</option>
  </optgroup>
</select>
<div>Your choice: {{valueAsString}}</div>
</fieldset><div class="snippet-skip-line"></div>
