<fieldset class="blox-snippet snippet-skip-line">
<div mdcChipSet="filter">
  <div mdcChip>
    <i mdcChipIcon class="material-icons">message</i>
    <div mdcChipText>Messages</div>
  </div>
  <div mdcChip>
    <i mdcChipIcon class="material-icons">notification_important</i>
    <div mdcChipText>Notifications</div>
  </div>
  <div mdcChip>
    <i mdcChipIcon class="material-icons">warning</i>
    <div mdcChipText>Warnings</div>
  </div>
  <div mdcChip>
    <i mdcChipIcon class="material-icons">error</i>
    <div mdcChipText>Errors</div>
  </div>
</div>
</fieldset><div class="snippet-skip-line"></div>
