<fieldset class="blox-snippet snippet-skip-line">
<button mdcFab [mdcExited]="exit" class="material-icons"><span mdcFabIcon>favorite_border</span></button>
<button mdcFab mdcMini [mdcExited]="exit" class="material-icons"><span mdcFabIcon>favorite_border</span></button>

<section>
  <div mdcFormfield>
    <div mdcCheckbox>
      <input mdcCheckboxInput type="checkbox" [(ngModel)]="exit"/>
    </div>
    <label mdcFormfieldLabel>Exit Buttons</label>
  </div>
</section>
</fieldset><div class="snippet-skip-line"></div>
