<div class="blox-snippet snippet-skip-line">
<nav mdcTabBar>
  <div mdcTabScroller>
    <div mdcTabScrollerArea>
      <div mdcTabScrollerContent>
        <a mdcTab [routerLink]="['page1']">
          <span mdcTabContent>
            <span mdcTabLabel>Page 1</span>
          </span>
          <span mdcTabIndicator>
            <span mdcTabIndicatorContent></span>
          </span>
        </a>
        <a mdcTab [routerLink]="['page2']">
          <span mdcTabContent>
            <span mdcTabLabel>Page 2</span>
          </span>
          <span mdcTabIndicator>
            <span mdcTabIndicatorContent></span>
          </span>
        </a>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
</div><div class="snippet-skip-line"></div>



