<fieldset class="blox-snippet snippet-skip-line">
<div mdcTextfield [mdcHelptext]="input1Help" [mdcBox]="box" [mdcDense]="dense">
  <i mdcTextfieldIcon class="material-icons">face</i>
  <input mdcTextfieldInput type="text" #input1="ngModel" [(ngModel)]="field1" [disabled]="disabled"
    [required]="required"/>
  <label mdcTextfieldLabel>Input 1</label>
</div>
<p mdcTextfieldHelptext #input1Help="mdcHelptext" [mdcPersistent]="persistent">
  Input with leading icon
</p>
<div mdcTextfield [mdcHelptext]="input2Help" [mdcBox]="box" [mdcDense]="dense">
  <input mdcTextfieldInput type="text" #input2="ngModel" [(ngModel)]="field2" [disabled]="disabled"
      [required]="required"/>
  <label mdcTextfieldLabel>Input 2</label>
  <i mdcTextfieldIcon (click)="clearField2()" tabindex="0" class="material-icons">delete</i>
</div>
<p mdcTextfieldHelptext #input2Help="mdcHelptext" [mdcPersistent]="persistent">
  <span>Input with trailing action icon</span>
</p>

<p>Modify behaviour of textfields:</p>
<div mdcFormfield>
  <div mdcCheckbox>
    <input mdcCheckboxInput type="checkbox" [(ngModel)]="box"/>
  </div>
  <label mdcFormfieldLabel>Box</label>
</div>
<div mdcFormfield>
  <div mdcCheckbox>
    <input mdcCheckboxInput type="checkbox" [(ngModel)]="dense"/>
  </div>
  <label mdcFormfieldLabel>Dense</label>
</div>
<div mdcFormfield>
  <div mdcCheckbox>
    <input mdcCheckboxInput type="checkbox" [(ngModel)]="disabled"/>
  </div>
  <label mdcFormfieldLabel>Disabled</label>
</div>
<div mdcFormfield>
  <div mdcCheckbox>
    <input mdcCheckboxInput type="checkbox" [(ngModel)]="required"/>
  </div>
  <label mdcFormfieldLabel>Required</label>
</div>
<div mdcFormfield>
  <div mdcCheckbox>
    <input mdcCheckboxInput type="checkbox" [(ngModel)]="persistent"/>
  </div>
  <label mdcFormfieldLabel>Make helper text persistent</label>
</div>
</fieldset><div class="snippet-skip-line"></div>
