<fieldset class="blox-snippet snippet-skip-line">
<div mdcSelect [box]="box" [outlined]="outlined">
  <select mdcSelectControl [(ngModel)]="value" [disabled]="disabled">
    <option value="" disabled selected></option>
    <option value="grains">Bread, Cereal, Rice, and Pasta</option>
    <option value="vegetables" disabled>Vegetables</option>
    <option value="fruit">Fruit</option>
    <option value="dairy">Milk, Yogurt, and Cheese</option>
    <option value="meat">Meat, Poultry, Fish, Dry Beans, Eggs, and Nuts</option>
    <option value="fats">Fats, Oils, and Sweets</option>
  </select>
  <label mdcFloatingLabel>Pick a Food Group</label>
</div>
<br/><br/>
<div>Your choice: {{value}}</div>

<p>Customization:</p>
<div mdcFormField>
  <div mdcCheckbox>
    <input mdcCheckboxInput type="checkbox" [(ngModel)]="disabled"/>
  </div>
  <label mdcFormFieldLabel>Disable controls</label>
</div>
<div mdcFormField>
  <div mdcCheckbox>
    <input mdcCheckboxInput type="checkbox" [(ngModel)]="box"/>
  </div>
  <label mdcFormFieldLabel>Box</label>
</div>
<div mdcFormField>
  <div mdcCheckbox>
    <input mdcCheckboxInput type="checkbox" [(ngModel)]="outlined"/>
  </div>
  <label mdcFormFieldLabel>Outlined</label>
</div>
<br/>
<button mdcButton outlined (click)="clear()">Clear Value</button>
<button mdcButton outlined (click)="value = 'vegetables'">Vegetables</button>
<button mdcButton outlined (click)="value = 'fruit'">Fruit</button>
</fieldset><div class="snippet-skip-line"></div>
