.mdc-ripple-surface {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 32px;
    width: 200px;
    height: 100px;
    padding: 1rem;
    cursor: pointer;

    &[unbounded] {
        overflow: visible;
    }
}
