<fieldset class="blox-snippet snippet-skip-line">
<div [dir]="dir">
  <div mdcTextfield [helptext]="input1Help" [boxed]="box" [dense]="dense">
    <input mdcTextfieldInput type="text" #input1="ngModel" [(ngModel)]="field1" [disabled]="disabled"
      [required]="required"/>
    <label mdcTextfieldLabel>Input with Helptext</label>
  </div>
  <p mdcTextfieldHelptext #input1Help="mdcHelptext" [isPersistent]="persistent">
    Help text
  </p>

  <div mdcTextfield [helptext]="input2Help" [boxed]="box" [dense]="dense">
    <input mdcTextfieldInput type="text" #input2="ngModel" [(ngModel)]="field2" [disabled]="disabled"
      minlength="8" [required]="required"/>
    <label mdcTextfieldLabel>Input with Validation</label>
  </div>
  <p mdcTextfieldHelptext #input2Help="mdcHelptext" isValidation [isPersistent]="persistent">
    <span *ngIf="input2.errors?.required">Input is required</span>
    <span *ngIf="input2.errors?.minlength">Input requires at least 8 characters</span>
  </p>

  <p>Modify behaviour of textfields:</p>
  <div mdcFormfield>
    <div mdcCheckbox>
      <input mdcCheckboxInput type="checkbox" [(ngModel)]="box"/>
    </div>
    <label mdcFormfieldLabel>Box</label>
  </div>
  <div mdcFormfield>
    <div mdcCheckbox>
      <input mdcCheckboxInput type="checkbox" [(ngModel)]="dense"/>
    </div>
    <label mdcFormfieldLabel>Dense</label>
  </div>
  <div mdcFormfield>
    <div mdcCheckbox>
      <input mdcCheckboxInput type="checkbox" [(ngModel)]="disabled"/>
    </div>
    <label mdcFormfieldLabel>Disabled</label>
  </div>
  <div mdcFormfield>
    <div mdcCheckbox>
      <input mdcCheckboxInput type="checkbox" [(ngModel)]="required"/>
    </div>
    <label mdcFormfieldLabel>Required</label>
  </div>
  <div mdcFormfield>
    <div mdcCheckbox>
      <input mdcCheckboxInput type="checkbox" [(ngModel)]="persistent"/>
    </div>
    <label mdcFormfieldLabel>Make helper text persistent</label>
  </div>
  <div mdcFormfield>
    <div mdcCheckbox>
      <input mdcCheckboxInput type="checkbox" [(ngModel)]="rtl"/>
    </div>
    <label mdcFormfieldLabel>RTL</label>
  </div>
</div>
</fieldset><div class="snippet-skip-line"></div>
