<fieldset class="blox-snippet snippet-skip-line">
<div>Buttons:
  <div mdcFormField>
    <div mdcCheckbox>
      <input mdcCheckboxInput type="checkbox" [(ngModel)]="disabled"/>
    </div>
    <label mdcFormFieldLabel>Disable buttons</label>
  </div>
</div>
<button mdcButton [disabled]="disabled">Default</button>
<button mdcButton raised [disabled]="disabled">Raised</button>
<button mdcButton dense [disabled]="disabled">Dense Default</button>
<button mdcButton dense raised [disabled]="disabled">Dense Raised</button>
<button mdcButton outlined [disabled]="disabled">Outlined</button>

<div>Anchors:</div>
<a href="javascript:void(0)" mdcButton>Anchor</a>
<a href="javascript:void(0)" mdcButton raised>Raised</a>
<a href="javascript:void(0)" mdcButton dense>Dense Default</a>
<a href="javascript:void(0)" mdcButton dense raised>Dense Raised</a>
<a href="javascript:void(0)" mdcButton outlined>Outlined</a>
</fieldset><div class="snippet-skip-line"></div>
