<fieldset class="blox-snippet snippet-skip-line">
<label mdcTextField [helperText]="input1Help">
  <i mdcTextFieldIcon class="material-icons">face</i>
  <input mdcTextFieldInput type="text" #input1="ngModel" [(ngModel)]="field1" [disabled]="disabled"
    [required]="required" autocomplete="off"/>
  <span *ngIf="outlined" mdcNotchedOutline>
    <span mdcNotchedOutlineNotch>
      <span mdcFloatingLabel>Input 1</span>
    </span>
  </span>
  <span *ngIf="!outlined" mdcFloatingLabel>Input 1</span>
</label>
<div mdcTextFieldHelperLine>
  <p mdcTextFieldHelperText #input1Help="mdcHelperText" [persistent]="persistent">
    Input with leading icon
  </p>
</div>
<p></p>

<label mdcTextField [helperText]="input2Help">
  <input mdcTextFieldInput type="text" #input2="ngModel" [(ngModel)]="field2" [disabled]="disabled"
    [required]="required" autocomplete="off"/>
  <i mdcTextFieldIcon (interact)="clearField2()" class="material-icons">delete</i>
  <span *ngIf="outlined" mdcNotchedOutline>
    <span mdcNotchedOutlineNotch>
      <span mdcFloatingLabel>Input 2</span>
    </span>
  </span>
  <span *ngIf="!outlined" mdcFloatingLabel>Input 2</span>
</label>
<div mdcTextFieldHelperLine>
  <p mdcTextFieldHelperText #input2Help="mdcHelperText" [persistent]="persistent">
    <span>Input with trailing action icon</span>
  </p>
</div>

<p>Modify behaviour of text-fields:</p>
<div mdcFormField>
  <div mdcCheckbox>
    <input mdcCheckboxInput type="checkbox" [(ngModel)]="outlined"/>
  </div>
  <label mdcFormFieldLabel>Outlined</label>
</div>
<div mdcFormField>
  <div mdcCheckbox>
    <input mdcCheckboxInput type="checkbox" [(ngModel)]="disabled"/>
  </div>
  <label mdcFormFieldLabel>Disabled</label>
</div>
<div mdcFormField>
  <div mdcCheckbox>
    <input mdcCheckboxInput type="checkbox" [(ngModel)]="required"/>
  </div>
  <label mdcFormFieldLabel>Required</label>
</div>
<div mdcFormField>
  <div mdcCheckbox>
    <input mdcCheckboxInput type="checkbox" [(ngModel)]="persistent"/>
  </div>
  <label mdcFormFieldLabel>Make helper text persistent</label>
</div>
</fieldset><div class="snippet-skip-line"></div>
