<fieldset class="blox-snippet snippet-skip-line">
<div class="blox-snippet-page">
  <aside [mdcDrawerContainer]="drawerType" [(open)]="open">
    <nav mdcDrawer>
      <div mdcDrawerToolbarSpacer *ngIf="toolbarSpacer"></div>
      <div mdcDrawerHeader *ngIf="toolbarHeader">
        <div mdcDrawerHeaderContent>Header Content</div>
      </div>
      <div mdcDrawerContent mdcListGroup>
        <nav mdcList>
          <a mdcListItem href="javascript:void(0)">
            <i mdcListItemStartDetail class="material-icons" aria-hidden="true">inbox</i>Inbox
          </a>
          <a mdcListItem href="javascript:void(0)">
            <i mdcListItemStartDetail class="material-icons" aria-hidden="true">send</i>Sent Mail
          </a>
          <a mdcListItem href="javascript:void(0)">
            <i mdcListItemStartDetail class="material-icons" aria-hidden="true">drafts</i>Drafts
          </a>
        </nav>
        <hr mdcListDivider>
        <nav mdcList>
            <a mdcListItem href="javascript:void(0)">
              <i mdcListItemStartDetail class="material-icons" aria-hidden="true">email</i>All Mail
            </a>
            <a mdcListItem href="javascript:void(0)">
              <i mdcListItemStartDetail class="material-icons" aria-hidden="true">delete</i>Trash
            </a>
          </nav>
        </div>
    </nav>
  </aside>
  <div class="blox-demo-content">
    <header mdcToolbar>
      <div mdcToolbarRow>
        <section mdcToolbarSection alignStart>
          <button mdcToolbarMenuIcon class="material-icons" (click)="toggleDrawer()">menu</button>
          <span mdcToolbarTitle>{{drawerType | titlecase}} Drawer</span>
        </section>
      </div>
    </header>

    <main class="blox-demo-main">
      <h1>{{drawerType | titlecase}} Drawer</h1>
      <p>Click the menu icon above to {{open ? 'close' : 'open'}} the drawer, or use the controls below:</p>
      <div mdcFormField>
        <div mdcCheckbox>
          <input mdcCheckboxInput type="checkbox" [(ngModel)]="open" />
        </div>
        <label mdcFormFieldLabel>Open drawer</label>
      </div>
      <br/>
      <div mdcFormField>
        <div mdcRadio>
          <input mdcRadioInput type="radio" name="drawerType" value="persistent" [(ngModel)]="drawerType" />
        </div>
        <label mdcFormFieldLabel>Persistent Drawer</label>
      </div>
      <div mdcFormField>
        <div mdcRadio>
          <input mdcRadioInput type="radio" name="drawerType" value="temporary" [(ngModel)]="drawerType" />
        </div>
        <label mdcFormFieldLabel>Temporary Drawer</label>
      </div>
      <br/>
      <div mdcFormField>
        <div mdcRadio>
          <input mdcRadioInput type="radio" name="headerType" value="none" [(ngModel)]="headerType" />
        </div>
        <label mdcFormFieldLabel>No Header</label>
      </div>
      <div mdcFormField>
        <div mdcRadio>
          <input mdcRadioInput type="radio" name="headerType" value="spacer" [(ngModel)]="headerType" />
        </div>
        <label mdcFormFieldLabel>Toolbar Spacer</label>
      </div>
      <div mdcFormField>
        <div mdcRadio>
          <input mdcRadioInput type="radio" name="headerType" value="header" [(ngModel)]="headerType" />
        </div>
        <label mdcFormFieldLabel>Header</label>
      </div>
    </main>
  </div>
</div>
</fieldset><div class="snippet-skip-line"></div>
