<fieldset class="blox-snippet snippet-skip-line">
<div>
  <div mdcFormField>
    <div mdcCheckbox>
      <input mdcCheckboxInput type="checkbox" [(ngModel)]="disabled"/>
    </div>
    <label mdcFormFieldLabel>Disable buttons</label>
  </div>
  <div mdcFormField>
    <div mdcCheckbox>
      <input mdcCheckboxInput type="checkbox" [(ngModel)]="raised"/>
    </div>
    <label mdcFormFieldLabel>Raised</label>
  </div>
  <div mdcFormField>
    <div mdcCheckbox>
      <input mdcCheckboxInput type="checkbox" [(ngModel)]="unelevated"/>
    </div>
    <label mdcFormFieldLabel>Unelevated</label>
  </div>
  <div mdcFormField>
    <div mdcCheckbox>
      <input mdcCheckboxInput type="checkbox" [(ngModel)]="outlined"/>
    </div>
    <label mdcFormFieldLabel>Outlined</label>
  </div>
</div>
<p>Buttons:</p>
<button mdcButton [raised]="raised" [unelevated]="unelevated" [outlined]="outlined" [disabled]="disabled">Default</button>
<button mdcButton dense [raised]="raised" [unelevated]="unelevated" [outlined]="outlined" [disabled]="disabled">Dense</button>
<button mdcButton [raised]="raised" [unelevated]="unelevated" [outlined]="outlined" [disabled]="disabled"><i mdcButtonIcon class="material-icons">favorite</i>Icon</button>
<button mdcButton [raised]="raised" [unelevated]="unelevated" [outlined]="outlined" [disabled]="disabled">
  <span mdcButtonLabel>Icon After</span>
  <i mdcButtonIcon class="material-icons">favorite</i>
</button>

<p>Anchors:</p>
<a href="javascript:void(0)" mdcButton [raised]="raised" [unelevated]="unelevated" [outlined]="outlined">Default</a>
<a href="javascript:void(0)" mdcButton dense [raised]="raised" [unelevated]="unelevated" [outlined]="outlined">Dense</a>
<a href="javascript:void(0)" mdcButton [raised]="raised" [unelevated]="unelevated" [outlined]="outlined"><i mdcButtonIcon class="material-icons">favorite</i>Icon</a>
<a href="javascript:void(0)" mdcButton [raised]="raised" [unelevated]="unelevated" [outlined]="outlined">
  <span mdcButtonLabel>Icon After</span>
  <i mdcButtonIcon class="material-icons">favorite</i>
</a>
</fieldset><div class="snippet-skip-line"></div>
