<fieldset class="blox-snippet snippet-skip-line">
<p>Icon Action Buttons:</p>
<button mdcIconButton [disabled]="disabled" class="material-icons">edit</button>
<button mdcIconButton [disabled]="disabled" class="material-icons">rotate_left</button>
<button mdcIconButton [disabled]="disabled" class="material-icons">close</button>

<p>Icon Toggle Buttons:</p>
<div>
  <button mdcIconToggle id="favorite"
    labelOn="Remove from favorites"
    labelOff="Add to favorites"
    [disabled]="disabled"
    [(on)]="favorite">
    <i mdcIcon="on" class="material-icons">favorite</i>
    <i mdcIcon class="material-icons">favorite_border</i>
  </button>
  <span>(Value: {{favorite}}. Uses an icon from Material Icons)</span>
</div>
<div>
  <button mdcIconToggle id="like"
    labelOn="Do not like"
    labelOff="Like"
    [disabled]="disabled"
    [(on)]="like">
    <i mdcIcon="on" class="fa fa-thumbs-up"></i>
    <i mdcIcon class="fa fa-thumbs-o-up"></i>
  </button>
  <span>(Value: {{like}}. Uses an icon from Font Awesome)</span>
</div>
<div>
  <button mdcIconToggle id="closed"
    labelOn="Open envelope"
    labelOff="Close envelope"
    [disabled]="disabled"
    [(ngModel)]="closed">
    <i mdcIcon="on" class="fa fa-envelope"></i>
    <i mdcIcon class="fa fa-envelope-open-o"></i>
  </button>
  <span>(Value: {{closed}}. Used with FormModule <code>[(ngModel)]</code> binding)</span>
</div>
<p>Modify:</p>
<div mdcFormField>
  <div mdcCheckbox>
    <input mdcCheckboxInput type="checkbox" [(ngModel)]="disabled"/>
  </div>
  <label mdcFormFieldLabel>Disable Buttons</label>
</div><br/>
<button mdcButton outlined (click)="toggleAll()">Toggle all Values</button>

</fieldset><div class="snippet-skip-line"></div>
