<fieldset class="blox-snippet snippet-skip-line">
<div mdcChipSet="choice">
  <div mdcChip>
    <div mdcChipCell>
      <span mdcChipPrimaryAction><div mdcChipText>Extra Small</div></span>
    </div>
  </div>
  <div mdcChip>
    <div mdcChipCell>
      <span mdcChipPrimaryAction><div mdcChipText>Small</div></span>
    </div>
  </div>
  <div mdcChip>
    <div mdcChipCell>
      <span mdcChipPrimaryAction><div mdcChipText>Medium</div></span>
    </div>
  </div>
  <div mdcChip>
    <div mdcChipCell>
      <span mdcChipPrimaryAction><div mdcChipText>Large</div></span>
    </div>
  </div>
  <div mdcChip>
    <div mdcChipCell>
      <span mdcChipPrimaryAction><div mdcChipText>Extra Large</div></span>
    </div>
  </div>
</div>
</fieldset><div class="snippet-skip-line"></div>
