<div class="blox-snippet snippet-skip-line">
<div mdcFormField>
  <div mdcCheckbox>
    <input mdcCheckboxInput type="checkbox" [(ngModel)]="rtl"/>
  </div>
  <label mdcFormFieldLabel>RTL</label>
</div>
<section [dir]="dir" class="custom-card-container">
  <div mdcCard>
    <section mdcCardMedia class="custom-card__16-9-media"></section>
    <section mdcCardText>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
    </section>
  </div>

  <div mdcCard class="custom-card--with-avatar">
    <section mdcCardPrimary>
      <div class="custom-card__avatar"></div>
      <h1 mdcCardTitle>Title</h1>
      <h2 mdcCardSubtitle>Subhead</h2>
    </section>
    <section mdcCardMedia class="custom-card__16-9-media"></section>
    <section mdcCardText>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
    </section>
    <section mdcCardActions compact>
      <button mdcButton>Action 1</button>
      <button mdcButton>Action 2</button>
    </section>
  </div>

  <div mdcCard class="custom-card--with-avatar">
    <section mdcCardPrimary>
      <div class="custom-card__avatar"></div>
      <h1 mdcCardTitle>Title</h1>
      <h2 mdcCardSubtitle>Subhead</h2>
    </section>
    <section mdcCardMedia class="custom-card__16-9-media"></section>
    <section mdcCardActions vertical compact>
      <button mdcButton>Action 1</button>
      <button mdcButton>Action 2</button>
    </section>
  </div>

  <div mdcCard>
    <section mdcCardMedia class="custom-card__16-9-media"></section>
    <section mdcCardPrimary>
      <h1 mdcCardTitle large>Title goes here</h1>
      <h2 mdcCardSubtitle>Subtitle here</h2>
    </section>
    <section mdcCardActions compact>
      <button mdcButton>Action 1</button>
      <button mdcButton>Action 2</button>
    </section>
  </div>

  <div mdcCard>
    <section mdcCardPrimary>
      <h1 mdcCardTitle large>Title goes here</h1>
      <h2 mdcCardSubtitle>Subtitle here</h2>
    </section>
    <section mdcCardText>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </section>
    <section mdcCardActions compact>
      <button mdcButton>Action 1</button>
      <button mdcButton>Action 2</button>
    </section>
  </div>

  <div mdcCard class="mdc-card--theme-dark custom-card--bg-demo">
    <section mdcCardPrimary>
      <h1 mdcCardTitle large>Title goes here</h1>
      <h2 mdcCardSubtitle>Subtitle here</h2>
    </section>
    <section mdcCardActions compact>
      <button mdcButton class="mdc-button--theme-dark">Action 1</button>
      <button mdcButton class="mdc-button--theme-dark">Action 2</button>
    </section>
  </div>

  <div mdcCard class="custom-card--small">
    <section mdcCardMedia>
      <h1 mdcCardTitle large>Title</h1>
    </section>
    <section mdcCardActions compact>
      <button mdcButton>Action 1</button>
    </section>
  </div>

  <div mdcCard>
    <div mdcCardHorizontal>
      <section mdcCardPrimary>
        <h1 mdcCardTitle large>Title here</h1>
        <h2 mdcCardSubtitle>Subtitle here</h2>
      </section>
      <img mdcCardMediaItem src="~assets/img/mdc-demos/1-1.jpg">
    </div>
    <section mdcCardActions compact>
      <button mdcButton>Action 1</button>
      <button mdcButton>Action 2</button>
    </section>
  </div>

  <div mdcCard>
    <div mdcCardHorizontal>
      <section mdcCardPrimary>
        <h1 mdcCardTitle large>Title here</h1>
        <h2 mdcCardSubtitle>Subtitle here</h2>
      </section>
      <img mdcCardMediaItem sizeFactor="1.5" src="~assets/img/mdc-demos/1-1.jpg">
    </div>
    <section mdcCardActions compact>
      <button mdcButton>Action 1</button>
      <button mdcButton>Action 2</button>
    </section>
  </div>

  <div mdcCard>
    <div mdcCardHorizontal>
      <section mdcCardPrimary>
        <h1 mdcCardTitle large>Title here</h1>
        <h2 mdcCardSubtitle>Subtitle here</h2>
      </section>
      <img mdcCardMediaItem sizeFactor="2" src="~assets/img/mdc-demos/1-1.jpg">
    </div>
    <section mdcCardActions compact>
      <button mdcButton>Action 1</button>
      <button mdcButton>Action 2</button>
    </section>
  </div>

  <div mdcCard>
    <div mdcCardHorizontal>
      <img mdcCardMediaItem sizeFactor="3" src="~assets/img/mdc-demos/1-1.jpg">
      <section mdcCardActions vertical>
        <button mdcButton>A1</button>
        <button mdcButton>A2</button>
      </section>
    </div>
  </div>
</section>
</div><div class="snippet-skip-line"></div>
