<fieldset class="blox-snippet snippet-skip-line">
<div mdcListGroup>
  <h3 mdcListGroupSubHeader>Connectivity</h3>
  <ul mdcList [dense]="dense" [nonInteractive]="!interactive" [selectionMode]="selectionMode">
    <li mdcListItem>
      <i *ngIf="startDetail" mdcListItemGraphic class="material-icons">network_wifi</i>
      <span mdcListItemText>Wi-Fi</span>
      <i *ngIf="endDetail" mdcListItemMeta class="material-icons">signal_wifi_4_bar</i>
    </li>
    <li mdcListItem>
      <i *ngIf="startDetail" mdcListItemGraphic class="material-icons">bluetooth</i>
      <span mdcListItemText>Bluetooth</span>
      <i *ngIf="endDetail" mdcListItemMeta class="material-icons">bluetooth_searching</i>
    </li>
    <li mdcListItem>
      <i *ngIf="startDetail" mdcListItemGraphic class="material-icons">data_usage</i>
      <span mdcListItemText>Data Usage</span>
      <i *ngIf="endDetail" mdcListItemMeta class="material-icons">show_chart</i>
    </li>
    <li mdcListDivider [inset]="startDetail"></li>
  </ul>
  <h3 mdcListGroupSubHeader>Folders</h3>
  <ul mdcList [avatarList]="avatar" [dense]="dense" [nonInteractive]="!interactive" [selectionMode]="selectionMode">
    <li mdcListItem>
      <i *ngIf="startDetail && !avatar" mdcListItemGraphic class="material-icons">insert_drive_file</i>
      <img *ngIf="avatar" mdcListItemGraphic [src]="srcAvatar1">
      <span mdcListItemText>Photos</span>
      <i *ngIf="endDetail" mdcListItemMeta class="material-icons">star</i>
    </li>
    <li mdcListItem>
      <i *ngIf="startDetail && !avatar" mdcListItemGraphic class="material-icons">insert_drive_file</i>
      <img *ngIf="avatar" mdcListItemGraphic [src]="srcAvatar2">
      <span mdcListItemText>Movies</span>
      <i *ngIf="endDetail" mdcListItemMeta class="material-icons">star</i>
    </li>
  </ul>  
</div>
<p>Customize list:</p>
<div mdcFormField>
  <div mdcCheckbox>
    <input mdcCheckboxInput type="checkbox" [(ngModel)]="startDetail"/>
  </div>
  <label mdcFormFieldLabel>Graphic</label>
</div>
<div mdcFormField>
  <div mdcCheckbox>
    <input mdcCheckboxInput type="checkbox" [(ngModel)]="endDetail"/>
  </div>
  <label mdcFormFieldLabel>Meta</label>
</div>
<div mdcFormField>
    <div mdcCheckbox>
      <input mdcCheckboxInput type="checkbox" [(ngModel)]="avatar"/>
    </div>
    <label mdcFormFieldLabel>Avatar list</label>
</div>
<div mdcFormField>
  <div mdcCheckbox>
    <input mdcCheckboxInput type="checkbox" [(ngModel)]="dense" />
  </div>
  <label mdcFormFieldLabel>Dense</label>
</div>
<div mdcFormField>
  <div mdcCheckbox>
    <input mdcCheckboxInput type="checkbox" [(ngModel)]="interactive" />
  </div>
  <label mdcFormFieldLabel>Interactive</label>
</div>
<br/>
<p>Selection mode:</p>
<div mdcFormField>
  <div mdcRadio>
    <input mdcRadioInput type="radio" name="selMode" value="" [(ngModel)]="selectionMode" />
  </div>
  <label mdcFormFieldLabel>None</label>
</div>
<div mdcFormField>
  <div mdcRadio>
    <input mdcRadioInput type="radio" name="selMode" value="single" [(ngModel)]="selectionMode" />
  </div>
  <label mdcFormFieldLabel>Single</label>
</div>
<div mdcFormField>
  <div mdcRadio>
    <input mdcRadioInput type="radio" name="selMode" value="active" [(ngModel)]="selectionMode" />
  </div>
  <label mdcFormFieldLabel>Active</label>
</div>
</fieldset><div class="snippet-skip-line"></div>
