<fieldset class="blox-snippet snippet-skip-line">
<div [dir]="dir">

  <label mdcTextField [helperText]="input1Help">
    <input mdcTextFieldInput type="text" #input1="ngModel" [(ngModel)]="field1" [disabled]="disabled"
      [required]="required" autocomplete="off"/>
    <span *ngIf="outlined" mdcNotchedOutline>
      <span mdcNotchedOutlineNotch>
        <span mdcFloatingLabel>Input with Helper Text</span>
      </span>
    </span>
    <span *ngIf="!outlined" mdcFloatingLabel>Input with Helper Text</span>
  </label>
  <div mdcTextFieldHelperLine>
    <p mdcTextFieldHelperText #input1Help="mdcHelperText" [persistent]="persistent">
      Help text
    </p>
  </div>
  <p></p>

  <label mdcTextField [helperText]="input2Help">
    <input mdcTextFieldInput type="text" #input2="ngModel" [(ngModel)]="field2" [disabled]="disabled"
    minlength="8"  [required]="required" autocomplete="off"/>
    <span *ngIf="outlined" mdcNotchedOutline>
      <span mdcNotchedOutlineNotch>
        <span mdcFloatingLabel>Input with Validation</span>
      </span>
    </span>
    <span *ngIf="!outlined" mdcFloatingLabel>Input with Validation</span>
  </label>
  <div mdcTextFieldHelperLine>
    <p mdcTextFieldHelperText #input2Help="mdcHelperText" validation [persistent]="persistent">
      <span *ngIf="input2.errors?.required">Input is required</span>
      <span *ngIf="input2.errors?.minlength">Input requires at least 8 characters</span>
    </p>
  </div>

  <p>Modify behaviour of text-fields:</p>
  <div mdcFormField>
    <div mdcCheckbox>
      <input mdcCheckboxInput type="checkbox" [(ngModel)]="outlined"/>
    </div>
    <label mdcFormFieldLabel>Outlined</label>
  </div>
  <div mdcFormField>
    <div mdcCheckbox>
      <input mdcCheckboxInput type="checkbox" [(ngModel)]="disabled"/>
    </div>
    <label mdcFormFieldLabel>Disabled</label>
  </div>
  <div mdcFormField>
    <div mdcCheckbox>
      <input mdcCheckboxInput type="checkbox" [(ngModel)]="required"/>
    </div>
    <label mdcFormFieldLabel>Required</label>
  </div>
  <div mdcFormField>
    <div mdcCheckbox>
      <input mdcCheckboxInput type="checkbox" [(ngModel)]="persistent"/>
    </div>
    <label mdcFormFieldLabel>Make helper text persistent</label>
  </div>
  <div mdcFormField>
    <div mdcCheckbox>
      <input mdcCheckboxInput type="checkbox" [(ngModel)]="rtl"/>
    </div>
    <label mdcFormFieldLabel>RTL</label>
  </div>
</div>
</fieldset><div class="snippet-skip-line"></div>
