<fieldset class="blox-snippet snippet-skip-line">
<form #form="ngForm">
  <div mdcTextField style="width: 100%">
    <input mdcTextFieldInput [(ngModel)]="messageText" name="messageText" required />
    <label mdcFloatingLabel>Message Text</label>
  </div>
  <div mdcTextField>
    <input mdcTextFieldInput [(ngModel)]="actionText" name="actionText" />
    <label mdcFloatingLabel>Action Text</label>
  </div>
  <div mdcFormField>
    <div mdcCheckbox>
      <input mdcCheckboxInput type="checkbox" [(ngModel)]="multiline" name="multiline" />
    </div>
    <label mdcFormFieldLabel>Multiline</label>
  </div>
  <div *ngIf="multiline" mdcFormField>
    <div mdcCheckbox>
      <input mdcCheckboxInput type="checkbox" [(ngModel)]="actionOnBottom" name="actionOnBottom" />
    </div>
    <label mdcFormFieldLabel>Action On Bottom</label>
  </div>
  <section>
    <button mdcButton raised (click)="show()" [disabled]="!form.valid">Show Snackbar</button>
  </section>
</form>
<section>
  <p>Last Action: {{lastAction}}</p>
</section>
</fieldset><div class="snippet-skip-line"></div>
