<fieldset class="blox-snippet snippet-skip-line">
<!-- snippet-skip-line
<div class="snippet-container">
snippet-skip-line -->
<div class="snippet-container snippet-skip-line" #viewport>
  <div mdcMenuAnchor [style.top]="pTop" [style.bottom]="pBottom" [style.left]="pLeft" [style.right]="pRight">
    <button mdcButton raised [mdcMenuTrigger]="menu">Reveal Menu</button>
<!-- snippet-skip-line
    <div mdcMenu #menu="mdcMenu"
snippet-skip-line -->
    <div mdcMenu #menu="mdcMenu" [viewport]="viewport" class="snippet-skip-line"
        [(open)]="open"
        (pick)="select($event.value)">
      <ul mdcList>
        <li mdcListItem value="back"><span mdcListItemText>Back</span></li>
        <li mdcListItem disabled value="forward"><span mdcListItemText>Forward</span></li>
        <li mdcListItem value="reload"><span mdcListItemText>Reload</span></li>
        <li mdcListDivider></li>
        <li mdcListItem value="saveAs"><span mdcListItemText>Save As...</span></li>
      </ul>
    </div>
  </div>
</div>
<section>
  <div mdcFormField>
    <div mdcRadio>
      <input mdcRadioInput type="radio" name="position" value="tl" [(ngModel)]="position" />
    </div>
    <label mdcFormFieldLabel>Top left</label>
  </div>
  <div mdcFormField>
    <div mdcRadio>
      <input mdcRadioInput type="radio" name="position" value="tr" [(ngModel)]="position" />
    </div>
    <label mdcFormFieldLabel>Top right</label>
  </div>
  <div mdcFormField>
    <div mdcRadio>
      <input mdcRadioInput type="radio" name="position" value="bl" [(ngModel)]="position" />
    </div>
    <label mdcFormFieldLabel>Bottom left</label>
  </div>
  <div mdcFormField>
    <div mdcRadio>
      <input mdcRadioInput type="radio" name="position" value="br" [(ngModel)]="position" />
    </div>
    <label mdcFormFieldLabel>Bottom right</label>
  </div>
  <br/>
  <div>Last menu choice: {{lastChoice}}</div>
</section>
</fieldset><div class="snippet-skip-line"></div>
