<fieldset class="blox-snippet snippet-skip-line">
<div class="snippet-container" #viewport>
  <div mdcMenuAnchor #anchor="mdcMenuAnchor" [style.top]="pTop" [style.bottom]="pBottom" [style.left]="pLeft" [style.right]="pRight">
    <button mdcButton raised (click)="open = true">Reveal Menu</button>
    <div mdcSimpleMenu
        [(isOpen)]="open"
        [menuAnchor]="anchor"
        (pick)="select($event.value)"
        [viewport]="viewport">
      <ul mdcList>
        <li mdcListItem value="back">Back</li>
        <li mdcListItem disabled value="forward">Forward</li>
        <li mdcListItem value="reload">Reload</li>
        <li mdcListDivider></li>
        <li mdcListItem value="saveAs">Save As...</li>
      </ul>
    </div>
  </div>
</div>
<section>
  <div mdcFormField>
    <div mdcRadio>
      <input mdcRadioInput type="radio" name="position" value="tl" [(ngModel)]="position" />
    </div>
    <label mdcFormFieldLabel>Top left</label>
  </div>
  <div mdcFormField>
    <div mdcRadio>
      <input mdcRadioInput type="radio" name="position" value="tr" [(ngModel)]="position" />
    </div>
    <label mdcFormFieldLabel>Top right</label>
  </div>
  <div mdcFormField>
    <div mdcRadio>
      <input mdcRadioInput type="radio" name="position" value="bl" [(ngModel)]="position" />
    </div>
    <label mdcFormFieldLabel>Bottom left</label>
  </div>
  <div mdcFormField>
    <div mdcRadio>
      <input mdcRadioInput type="radio" name="position" value="br" [(ngModel)]="position" />
    </div>
    <label mdcFormFieldLabel>Bottom right</label>
  </div>
  <br/>
  <div>Last menu choice: {{lastChoice}}</div>
</section>
</fieldset><div class="snippet-skip-line"></div>
