<fieldset class="blox-snippet snippet-skip-line">
<div #viewport class="blox-snippet-page">
  <header mdcTopAppBar [viewport]="viewport" [fixedAdjust]="content">
    <div mdcTopAppBarRow>
      <section mdcTopAppBarSection alignStart>
        <a href="javascript:void(0)" mdcTopAppBarNavIcon class="material-icons">menu</a>
        <span mdcTopAppBarTitle>Toolbar</span>
      </section>
      <section mdcTopAppBarSection alignEnd>
        <a href="javascript:void(0)" mdcTopAppBarAction class="material-icons" label="Download">file_download</a>
        <a href="javascript:void(0)" mdcTopAppBarAction class="material-icons" label="Print this page">print</a>
        <a href="javascript:void(0)" mdcTopAppBarAction class="material-icons" label="Bookmark this page">more_vert</a>
      </section>
    </div>
  </header>

  <div #content class="blox-demo-content">
    <nav mdcDrawer>
      <div mdcDrawerContent mdcList>
        <a mdcListItem href="javascript:void(0)">
          <i mdcListItemGraphic class="material-icons" aria-hidden="true">inbox</i>Inbox
        </a>
        <a mdcListItem href="javascript:void(0)">
          <i mdcListItemGraphic class="material-icons" aria-hidden="true">send</i>Sent Mail
        </a>
        <a mdcListItem href="javascript:void(0)">
          <i mdcListItemGraphic class="material-icons" aria-hidden="true">drafts</i>Drafts
        </a>
      </div>
    </nav>

    <main class="blox-demo-main">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </main>
  </div>
</div>
</fieldset><div class="snippet-skip-line"></div>
