<div class="blox-snippet snippet-skip-line">
<div mdcFormField>
  <div mdcCheckbox>
    <input mdcCheckboxInput type="checkbox" [(ngModel)]="rtl"/>
  </div>
  <label mdcFormFieldLabel>RTL</label>
</div>
<div mdcFormField>
  <div mdcCheckbox>
    <input mdcCheckboxInput type="checkbox" [(ngModel)]="outlined"/>
  </div>
  <label mdcFormFieldLabel>Outlined</label>
</div>
<section [dir]="dir" class="custom-card-container">
  
  <div mdcCard [outlined]="outlined">
    <a mdcCardPrimaryAction href="javascript:void(0)">
      <section mdcCardMedia size="16:9"></section>
      <div class="custom-card__primary">
        <h2 class="mdc-typography--headline6">Our Changing Planet</h2>
        <h3 class="mdc-typography--subtitle2">by Kurt Wagner</h3>
      </div>
      <div class="custom-card__secondary mdc-typography--body2">
        Visit ten places on our planet that are undergoing the biggest changes today.
      </div>
    </a>
  </div>

  <div mdcCard [outlined]="outlined" class="custom-card">
    <a mdcCardPrimaryAction href="javascript:void(0)">
      <div class="custom-card__primary">
        <h2 class="mdc-typography--headline6">Our Changing Planet</h2>
        <h3 class="mdc-typography--subtitle2">by Kurt Wagner</h3>
      </div>
      <div class="custom-card__secondary mdc-typography--body2">
        Visit ten places on our planet that are undergoing the biggest changes today.
      </div>
    </a>
    <section mdcCardActions>
      <div mdcCardActionButtons>
        <button mdcButton>Read</button>
        <button mdcButton>Bookmark</button>
      </div>
      <div mdcCardActionIcons>
        <button mdcIconToggle
            labelOn="Remove from favorites" labelOff="Add to favorites">
          <i mdcIcon="on" class="material-icons">favorite</i>
          <i mdcIcon class="material-icons">favorite_border</i>
        </button>
        <button mdcIconButton class="material-icons" title="Share">share</button>
        <button mdcIconButton class="material-icons" title="More options">more_vert</button>
      </div>
    </section>
  </div>

  <div mdcCard [outlined]="outlined" class="custom-card-photo">
    <a mdcCardPrimaryAction href="javascript:void(0)">
      <div mdcCardMedia size="square">
        <div mdcCardMediaContent>
          <h2 class="mdc-typography--subtitle1">Vacation Photos</h2>
        </div>
      </div>
    </a>
    <div mdcCardActions mdcCardActionIcons>
      <button mdcIconToggle class="material-icons"
        labelOn="Remove from favorites" labelOff="Add to favorites">
        <i mdcIcon="on" class="material-icons">favorite</i>
        <i mdcIcon class="material-icons">favorite_border</i>
      </button>
      <button mdcIconToggle class="material-icons"
        labelOn="Remove bookmark" labelOff="Add bookmark">
        <i mdcIcon="on" class="material-icons">bookmark</i>
        <i mdcIcon class="material-icons">bookmark_border</i>
      </button>
      <button mdcIconButton class="material-icons" title="Share">share</button>
    </div>
  </div>

  <div mdcCard [outlined]="outlined">
    <div class="custom-card-group-heading mdc-typography--subtitle2">Headlines</div>

    <hr mdcListDivider>

    <a class="custom-card-article" mdcRipple surface href="javascript:void(0)">
      <h2 class="mdc-typography--headline5">Copper on the rise</h2>
      <p class="mdc-typography--body2">
        Copper price soars amid global market optimism and increased demand.
      </p>
    </a>

    <hr mdcListDivider>

    <a class="custom-card-article" mdcRipple surface href="javascript:void(0)">
      <h2 class="mdc-typography--headline5">U.S. tech startups rebound</h2>
      <p class="mdc-typography--body2">
        Favorable business conditions have allowed startups to secure more fundraising deals compared to last
        year.
      </p>
    </a>

    <hr mdcListDivider>

    <a class="custom-card-article" mdcRipple surface href="javascript:void(0)">
      <h2 class="mdc-typography--headline5">Asia's clean energy ambitions</h2>
      <p class="mdc-typography--body2">
        China plans to invest billions of dollars for the development of over 300 clean energy projects in
        Southeast Asia.
      </p>
    </a>

    <hr mdcListDivider>

    <div mdcCardActions fullBleed>
      <a mdcButton href="javascript:void(0)">
        All Business Headlines <i class="material-icons" aria-hidden="true">arrow_forward</i>
      </a>
    </div>
  </div>

  <div mdcCard [outlined]="outlined" class="custom-card-music">
    <a mdcCardPrimaryAction href="javascript:void(0)">
      <div class="custom-card-music-row">
        <div mdcCardMedia size="square"></div>
        <div class="custom-card-music-info">
          <h2 class="mdc-typography--headline5">Rozes</h2>
          <div class="mdc-typography--body2">Under the Grave</div>
          <div class="mdc-typography--body2">(2016)</div>
        </div>
      </div>
    </a>
    <hr mdcListDivider>
    <div mdcCardActions>
      <div mdcCardActionButtons>Rate this album</div>
      <div mdcCardActionIcons>
        <i class="material-icons" title="1 star">star_border</i>
        <i class="material-icons" title="2 stars">star_border</i>
        <i class="material-icons" title="3 stars">star_border</i>
        <i class="material-icons" title="4 stars">star_border</i>
        <i class="material-icons" title="5 stars">star_border</i>
      </div>
    </div>
  </div>

</section>
</div><div class="snippet-skip-line"></div>
