<fieldset class="blox-snippet snippet-skip-line">
<div mdcListGroup>
  <h3 mdcListGroupSubHeader>Connectivity</h3>
  <ul mdcList [dense]="dense">
    <li mdcListItem [mdcRipple]="ripple">
      <i *ngIf="startDetail" mdcListItemStartDetail class="material-icons">network_wifi</i>
      <span mdcListItemText>
        Wi-Fi
        <span mdcListItemTextSecondary>Strong signal</span>
      </span>
      <i *ngIf="endDetail" mdcListItemEndDetail class="material-icons">signal_wifi_4_bar</i>
    </li>
    <li mdcListItem [mdcRipple]="ripple">
      <i *ngIf="startDetail" mdcListItemStartDetail class="material-icons">bluetooth</i>
      <span mdcListItemText>
        Bluetooth
        <span mdcListItemTextSecondary>Searching for signal</span>
      </span>
      <i *ngIf="endDetail" mdcListItemEndDetail class="material-icons">bluetooth_searching</i>
    </li>
    <li mdcListItem [mdcRipple]="ripple">
      <i *ngIf="startDetail" mdcListItemStartDetail class="material-icons">data_usage</i>
      <span mdcListItemText>
        Data Usage
        <span mdcListItemTextSecondary>Inside your bundle</span>
      </span>
      <a *ngIf="endDetail" href="javascript:void(0)" mdcListItemEndDetail class="material-icons">show_chart</a>
    </li>
    <li mdcListDivider [hasInset]="startDetail"></li>
  </ul>
  <h3 mdcListGroupSubHeader>Folders</h3>
  <ul mdcList [avatarList]="avatar" [dense]="dense">
    <li mdcListItem [mdcRipple]="ripple">
      <i *ngIf="startDetail && !avatar" mdcListItemStartDetail class="material-icons">insert_drive_file</i>
      <img *ngIf="avatar" mdcListItemStartDetail src="~assets/img/mdc-demos/animal1.svg">
      <span mdcListItemText>
        Photos
        <span mdcListItemTextSecondary>21 new photos</span>
      </span>
      <a *ngIf="endDetail" href="javascript:void(0)" mdcListItemEndDetail class="material-icons">star</a>
    </li>
    <li mdcListItem [mdcRipple]="ripple">
      <i *ngIf="startDetail && !avatar" mdcListItemStartDetail class="material-icons">insert_drive_file</i>
      <img *ngIf="avatar" mdcListItemStartDetail src="~assets/img/mdc-demos/animal2.svg">
      <span mdcListItemText>
        Movies
        <span mdcListItemTextSecondary>2 new movies</span>
      </span>
      <a *ngIf="endDetail" href="javascript:void(0)" mdcListItemEndDetail class="material-icons">star</a>
    </li>
  </ul>  
</div>
<p>Customize list:</p>
<div mdcFormField>
  <div mdcCheckbox>
    <input mdcCheckboxInput type="checkbox" [(ngModel)]="startDetail"/>
  </div>
  <label mdcFormFieldLabel>Start Detail</label>
</div>
<div mdcFormField>
  <div mdcCheckbox>
    <input mdcCheckboxInput type="checkbox" [(ngModel)]="endDetail"/>
  </div>
  <label mdcFormFieldLabel>End Detail</label>
</div>
<div mdcFormField>
    <div mdcCheckbox>
      <input mdcCheckboxInput type="checkbox" [(ngModel)]="avatar"/>
    </div>
    <label mdcFormFieldLabel>Avatar list</label>
</div>
<div mdcFormField>
  <div mdcCheckbox>
    <input mdcCheckboxInput type="checkbox" [(ngModel)]="dense" />
  </div>
  <label mdcFormFieldLabel>Dense</label>
</div>
<div mdcFormField>
  <div mdcCheckbox>
    <input mdcCheckboxInput type="checkbox" [(ngModel)]="ripple" />
  </div>
  <label mdcFormFieldLabel>Interaction ripple</label>
</div>  
</fieldset><div class="snippet-skip-line"></div>
