<fieldset class="blox-snippet snippet-skip-line">
<div mdcListGroup>
  <h3 mdcListGroupSubHeader>Connectivity</h3>
  <ul mdcList [mdcDense]="dense">
    <li mdcListItem>
      <i *ngIf="startDetail" mdcListItemStartDetail class="material-icons">network_wifi</i>
      Wi-Fi
      <i *ngIf="endDetail" mdcListItemEndDetail class="material-icons">signal_wifi_4_bar</i>
    </li>
    <li mdcListItem>
      <i *ngIf="startDetail" mdcListItemStartDetail class="material-icons">bluetooth</i>
      Bluetooth
      <i *ngIf="endDetail" mdcListItemEndDetail class="material-icons">bluetooth_searching</i>
    </li>
    <li mdcListItem>
      <i *ngIf="startDetail" mdcListItemStartDetail class="material-icons">data_usage</i>
      Data Usage
      <a *ngIf="endDetail" href="javascript:void(0)" mdcListItemEndDetail class="material-icons">show_chart</a>
    </li>
    <li mdcListDivider [mdcInset]="startDetail"></li>
  </ul>
  <h3 mdcListGroupSubHeader>Folders</h3>
  <ul mdcList [mdcAvatarList]="avatar" [mdcDense]="dense">
    <li mdcListItem>
      <i *ngIf="startDetail && !avatar" mdcListItemStartDetail class="material-icons">insert_drive_file</i>
      <img *ngIf="avatar" mdcListItemStartDetail src="~assets/img/mdc-demos/animal1.svg">
      Photos
      <a *ngIf="endDetail" href="javascript:void(0)" mdcListItemEndDetail class="material-icons">star</a>
    </li>
    <li mdcListItem>
      <i *ngIf="startDetail && !avatar" mdcListItemStartDetail class="material-icons">insert_drive_file</i>
      <img *ngIf="avatar" mdcListItemStartDetail src="~assets/img/mdc-demos/animal2.svg">
      Movies
      <a *ngIf="endDetail" href="javascript:void(0)" mdcListItemEndDetail class="material-icons">star</a>
    </li>
  </ul>  
</div>
<p>Customize list:</p>
<div mdcFormfield>
  <div mdcCheckbox>
    <input mdcCheckboxInput type="checkbox" [(ngModel)]="startDetail"/>
  </div>
  <label mdcFormfieldLabel>Start Detail</label>
</div>
<div mdcFormfield>
  <div mdcCheckbox>
    <input mdcCheckboxInput type="checkbox" [(ngModel)]="endDetail"/>
  </div>
  <label mdcFormfieldLabel>End Detail</label>
</div>
<div mdcFormfield>
    <div mdcCheckbox>
      <input mdcCheckboxInput type="checkbox" [(ngModel)]="avatar"/>
    </div>
    <label mdcFormfieldLabel>Avatar list</label>
</div>
<div mdcFormfield>
  <div mdcCheckbox>
    <input mdcCheckboxInput type="checkbox" [(ngModel)]="dense" />
  </div>
  <label mdcFormfieldLabel>Dense</label>
</div>
    
</fieldset><div class="snippet-skip-line"></div>
