<fieldset class="blox-snippet snippet-skip-line">
<div>
  <div mdcSlider aria-label="Select Value"
    [(minValue)]="min" [(maxValue)]="max" [(stepValue)]="step"
    [discrete]="discrete" [markers]="markers"
    [(ngModel)]="value" [disabled]="disabled"></div>
</div>
<p>Customize slider:</p>
<div mdcTextField>
  <input mdcTextFieldInput [ngModel]="value" (blur)="value = $any($event.target).value" required autocomplete="off"/>
  <label mdcFloatingLabel>Current Value</label>
</div>
<div mdcTextField>
  <input mdcTextFieldInput [ngModel]="min" (blur)="min = $any($event.target).value" required autocomplete="off"/>
  <label mdcFloatingLabel>Min Value</label>
</div>
<div mdcTextField>
  <input mdcTextFieldInput [ngModel]="max" (blur)="max = $any($event.target).value" required autocomplete="off"/>
  <label mdcFloatingLabel>Max Value</label>
</div>
<div mdcTextField>
  <input mdcTextFieldInput [ngModel]="step" (blur)="step = $any($event.target).value" required autocomplete="off"/>
  <label mdcFloatingLabel>Step</label>
</div>
<div mdcFormField>
  <div mdcCheckbox>
    <input mdcCheckboxInput type="checkbox" [(ngModel)]="discrete"/>
  </div>
  <label mdcFormFieldLabel>Discrete</label>
</div>
<div mdcFormField>
  <div mdcCheckbox>
    <input mdcCheckboxInput type="checkbox" [(ngModel)]="markers"/>
  </div>
  <label mdcFormFieldLabel>Markers</label>
</div>
<div mdcFormField>
  <div mdcCheckbox>
    <input mdcCheckboxInput type="checkbox" [(ngModel)]="disabled"/>
  </div>
  <label mdcFormFieldLabel>Disabled</label>
</div>
</fieldset><div class="snippet-skip-line"></div>
