<fieldset class="blox-snippet snippet-skip-line">
<div mdcListGroup>
  <h3 mdcListGroupSubHeader>Connectivity</h3>
  <ul mdcList [dense]="dense">
    <li mdcListItem [mdcRipple]="ripple">
      <i *ngIf="startDetail" mdcListItemGraphic class="material-icons">network_wifi</i>
      Wi-Fi
      <i *ngIf="endDetail" mdcListItemMeta class="material-icons">signal_wifi_4_bar</i>
    </li>
    <li mdcListItem [mdcRipple]="ripple">
      <i *ngIf="startDetail" mdcListItemGraphic class="material-icons">bluetooth</i>
      Bluetooth
      <i *ngIf="endDetail" mdcListItemMeta class="material-icons">bluetooth_searching</i>
    </li>
    <li mdcListItem [mdcRipple]="ripple">
      <i *ngIf="startDetail" mdcListItemGraphic class="material-icons">data_usage</i>
      Data Usage
      <a *ngIf="endDetail" href="javascript:void(0)" mdcListItemMeta class="material-icons">show_chart</a>
    </li>
    <li mdcListDivider [inset]="startDetail"></li>
  </ul>
  <h3 mdcListGroupSubHeader>Folders</h3>
  <ul mdcList [avatarList]="avatar" [dense]="dense">
    <li mdcListItem [mdcRipple]="ripple">
      <i *ngIf="startDetail && !avatar" mdcListItemGraphic class="material-icons">insert_drive_file</i>
      <img *ngIf="avatar" mdcListItemGraphic src="assets/img/mdc-demos/animal1.svg">
      Photos
      <a *ngIf="endDetail" href="javascript:void(0)" mdcListItemMeta class="material-icons">star</a>
    </li>
    <li mdcListItem [mdcRipple]="ripple">
      <i *ngIf="startDetail && !avatar" mdcListItemGraphic class="material-icons">insert_drive_file</i>
      <img *ngIf="avatar" mdcListItemGraphic src="assets/img/mdc-demos/animal2.svg">
      Movies
      <a *ngIf="endDetail" href="javascript:void(0)" mdcListItemMeta class="material-icons">star</a>
    </li>
  </ul>  
</div>
<p>Customize list:</p>
<div mdcFormField>
  <div mdcCheckbox>
    <input mdcCheckboxInput type="checkbox" [(ngModel)]="startDetail"/>
  </div>
  <label mdcFormFieldLabel>Graphic</label>
</div>
<div mdcFormField>
  <div mdcCheckbox>
    <input mdcCheckboxInput type="checkbox" [(ngModel)]="endDetail"/>
  </div>
  <label mdcFormFieldLabel>Meta</label>
</div>
<div mdcFormField>
    <div mdcCheckbox>
      <input mdcCheckboxInput type="checkbox" [(ngModel)]="avatar"/>
    </div>
    <label mdcFormFieldLabel>Avatar list</label>
</div>
<div mdcFormField>
  <div mdcCheckbox>
    <input mdcCheckboxInput type="checkbox" [(ngModel)]="dense" />
  </div>
  <label mdcFormFieldLabel>Dense</label>
</div>
<div mdcFormField>
  <div mdcCheckbox>
    <input mdcCheckboxInput type="checkbox" [(ngModel)]="ripple" />
  </div>
  <label mdcFormFieldLabel>Interaction ripple</label>
</div>    
</fieldset><div class="snippet-skip-line"></div>
