<fieldset class="blox-snippet snippet-skip-line">
<div [dir]="dir">
  <h3>Multiline input:</h3>
  <div mdcTextField [helperText]="input1Help" [dense]="dense">
    <textarea mdcTextFieldInput type="text" #input1="ngModel" [(ngModel)]="field1" [disabled]="disabled"
      minlength="8" [required]="required" rows="8" cols="40"></textarea>
    <label mdcFloatingLabel>Multiline Input</label>
  </div>
  <p mdcTextFieldHelperText #input1Help="mdcHelperText" validation [persistent]="persistent">
    <span *ngIf="input1.errors?.required">Input is required</span>
    <span *ngIf="input1.errors?.minlength">Input requires at least 8 characters</span>
  </p>

  <h3>Modify behaviour of text-field:</h3>
  <div mdcFormField>
    <div mdcCheckbox>
      <input mdcCheckboxInput type="checkbox" [(ngModel)]="dense"/>
    </div>
    <label mdcFormFieldLabel>Dense</label>
  </div>
  <div mdcFormField>
    <div mdcCheckbox>
      <input mdcCheckboxInput type="checkbox" [(ngModel)]="disabled"/>
    </div>
    <label mdcFormFieldLabel>Disabled</label>
  </div>
  <div mdcFormField>
    <div mdcCheckbox>
      <input mdcCheckboxInput type="checkbox" [(ngModel)]="required"/>
    </div>
    <label mdcFormFieldLabel>Required</label>
  </div>
  <div mdcFormField>
    <div mdcCheckbox>
      <input mdcCheckboxInput type="checkbox" [(ngModel)]="persistent"/>
    </div>
    <label mdcFormFieldLabel>Make helper text persistent</label>
  </div>
  <div mdcFormField>
    <div mdcCheckbox>
      <input mdcCheckboxInput type="checkbox" [(ngModel)]="rtl"/>
    </div>
    <label mdcFormFieldLabel>RTL</label>
  </div>
</div>
</fieldset><div class="snippet-skip-line"></div>
