<fieldset class="blox-snippet snippet-skip-line">
<div mdcLinearProgress [progressValue]="progress" [bufferValue]="buffer"
    [isIndeterminate]="indeterminate" [isReversed]="reversed" [isClosed]="closed"></div>
<p>Customize progress:</p>
<div>
  <div mdcSlider aria-label="Change Progress" mdcScrollbarResize
    minValue="0" maxValue="1" [(ngModel)]="progress" [disabled]="indeterminate || closed"></div>
</div>
<div>
  <div mdcSlider aria-label="Change Buffer"
    minValue="0" maxValue="1" [(ngModel)]="buffer" [disabled]="indeterminate || closed"></div>
</div>  
<div mdcFormField>
  <div mdcCheckbox>
    <input mdcCheckboxInput type="checkbox" [(ngModel)]="indeterminate" [disabled]="closed"/>
  </div>
  <label mdcFormFieldLabel>Indeterminate</label>
</div>
<div mdcFormField>
  <div mdcCheckbox>
    <input mdcCheckboxInput type="checkbox" [(ngModel)]="reversed" [disabled]="closed"/>
  </div>
  <label mdcFormFieldLabel>Reversed</label>
</div>
<div mdcFormField>
  <div mdcCheckbox>
    <input mdcCheckboxInput type="checkbox" [(ngModel)]="closed"/>
  </div>
  <label mdcFormFieldLabel>Closed</label>
</div>
</fieldset><div class="snippet-skip-line"></div>
