<fieldset class="blox-snippet snippet-skip-line">
<div mdcFormfield [mdcAlignEnd]="alignEnd">
  <div mdcCheckbox>
    <input mdcCheckboxInput type="checkbox" [(ngModel)]="value" [disabled]="disabled" [indeterminate]="indeterminate"/>
  </div>
  <label mdcFormfieldLabel>This is my checkbox</label>
</div>
<div>value: {{printableValue}}</div><br/>

<button mdcButton mdcRaised (click)="makeIndeterminate()" [disabled]="indeterminate">Make Indeterminate</button>
<button mdcButton mdcRaised (click)="toggleAlignEnd()">Toggle Align End</button>
<button mdcButton mdcRaised (click)="toggleDisabled()">Toggle Disabled</button>

</fieldset><div class="snippet-skip-line"></div>
