<fieldset class="blox-snippet snippet-skip-line">
<button mdcFab [exited]="exit"><span mdcFabIcon class="material-icons">favorite_border</span></button>
<button mdcFab mini [exited]="exit"><span mdcFabIcon class="material-icons">favorite_border</span></button>  
<br/>
<button mdcFab [exited]="exit">
  <span mdcFabIcon class="material-icons">favorite_border</span>
  <span mdcFabLabel>Like</span>
</button>
<button mdcFab [exited]="exit">
  <span mdcFabLabel>Like</span>
  <span mdcFabIcon class="material-icons">favorite_border</span>
</button>
<button mdcFab [exited]="exit">
  <span mdcFabLabel>Like</span>
</button>

<section>
  <div mdcFormField>
    <div mdcCheckbox>
      <input mdcCheckboxInput type="checkbox" [(ngModel)]="exit"/>
    </div>
    <label mdcFormFieldLabel>Exit Buttons</label>
  </div>
</section>
</fieldset><div class="snippet-skip-line"></div>
