<fieldset class="blox-snippet snippet-skip-line">

<div mdcSelect [(ngModel)]="value" [disabled]="disabled">
  <div mdcSelectAnchor>
    <div mdcSelectText>{{value}}</div>
    <span *ngIf="outlined; else notOutlined" mdcNotchedOutline>
      <span mdcNotchedOutlineNotch>
        <span mdcFloatingLabel>Pick a Food Group</span>
      </span>
    </span>
    <ng-template #notOutlined>
      <span mdcFloatingLabel>Pick a Food Group</span>
    </ng-template>
  </div>            
  <div mdcSelectMenu>
    <ul mdcList>
      <!--li mdcListItem value="" disabled></li-->
      <li mdcListItem value="grains">Bread, Cereal, Rice, and Pasta</li>
      <li mdcListItem value="vegetables" disabled>Vegetables, and Fruit</li>
      <li mdcListItem value="dairy">Milk, Yogurt, and Cheese</li>
      <li mdcListItem value="meat">Meat, Poultry, Fish, Dry Beans, Eggs, and Nuts</li>
    </ul>
  </div>
</div>
<br/><br/>
<div>Your choice: {{value}}</div>

<p>Customization:</p>
<div mdcFormField>
  <div mdcCheckbox>
    <input mdcCheckboxInput type="checkbox" [(ngModel)]="disabled"/>
  </div>
  <label mdcFormFieldLabel>Disable controls</label>
</div>
<div mdcFormField>
  <div mdcCheckbox>
    <input mdcCheckboxInput type="checkbox" [(ngModel)]="outlined"/>
  </div>
  <label mdcFormFieldLabel>Outlined</label>
</div>
<br/>
<button mdcButton outlined (click)="clear()">Clear Value</button>
<button mdcButton outlined (click)="value = 'vegetables'">Vegetables</button>
<button mdcButton outlined (click)="value = 'dairy'">Dairy</button>
</fieldset><div class="snippet-skip-line"></div>
