<fieldset class="blox-snippet snippet-skip-line">
<div>
  <div mdcSlider aria-label="Select Value"
    [(minValue)]="min" [(maxValue)]="max" [(stepValue)]="step"
    [isDiscrete]="discrete" [hasMarkers]="markers"
    [(ngModel)]="value" [disabled]="disabled"></div>
</div>
<p>Customize slider:</p>
<div mdcTextField>
  <input mdcTextFieldInput [ngModel]="value" (blur)="value = $event.target.value" required />
  <label mdcTextFieldLabel>Current Value</label>
</div>
<div mdcTextField>
  <input mdcTextFieldInput [ngModel]="min" (blur)="min = $event.target.value" required />
  <label mdcTextFieldLabel>Min Value</label>
</div>
<div mdcTextField>
  <input mdcTextFieldInput [ngModel]="max" (blur)="max = $event.target.value" required />
  <label mdcTextFieldLabel>Max Value</label>
</div>
<div mdcTextField>
  <input mdcTextFieldInput [ngModel]="step" (blur)="step = $event.target.value" required />
  <label mdcTextFieldLabel>Step</label>
</div>
<div mdcFormField>
  <div mdcCheckbox>
    <input mdcCheckboxInput type="checkbox" [(ngModel)]="discrete"/>
  </div>
  <label mdcFormFieldLabel>Discrete</label>
</div>
<div mdcFormField>
  <div mdcCheckbox>
    <input mdcCheckboxInput type="checkbox" [(ngModel)]="markers"/>
  </div>
  <label mdcFormFieldLabel>Markers</label>
</div>
<div mdcFormField>
  <div mdcCheckbox>
    <input mdcCheckboxInput type="checkbox" [(ngModel)]="disabled"/>
  </div>
  <label mdcFormFieldLabel>Disabled</label>
</div>
</fieldset><div class="snippet-skip-line"></div>
