@import "@material/theme/mixins";

// Place drawer and content side by side:
.blox-snippet-page {
    display: flex;
    flex-direction: row;
    height: 350px;
}

[mdcDrawerHeader], [mdcDrawerToolbarSpacer] {
    // color the header variants the same way as the toolbar:
    @include mdc-theme-prop(background-color, primary);
    @include mdc-theme-prop(color, on-primary);
}

// Stack toolbar and main on top of each other:
.blox-demo-content {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    box-sizing: border-box;
}

.blox-demo-main {
    padding-left: 16px;
}
