.custom-card-container {
    //display: inline-block;
    display: flex;
    align-items: flex-start;
    flex-flow: row wrap;
}

[mdcCard] {
    //float: left;
    //vertical-align: top;
    min-width: 320px;
    max-width: 21.875rem;
    margin: 24px;
}

@media(min-width: 768px) {
    [mdcCard] {
        margin-bottom: 24px;
    }
}

.custom-card--with-avatar {
    [mdcCardPrimary] {
        position: relative;
    }
    
    .custom-card__avatar {
        position: absolute;
        background: #bdbdbd;
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 50%;
    }

    [mdcCardTitle],
    [mdcCardSubtitle] {
        margin-left: 56px;
    }
}

[dir="rtl"] .custom-card--with-avatar [mdcCardTitle],
[dir="rtl"] .custom-card--with-avatar [mdcCardSubtitle] {
    margin-right: 56px;
    margin-left: initial;
}

.custom-card__16-9-media {
    background-image: url("~assets/img/mdc-demos/16-9.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 12.313rem;
}

.custom-card--small [mdcCardMedia] {
    background-image: url("~assets/img/mdc-demos/1-1.bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 10.938rem;
}

.custom-card--bg-demo {
    height: 21.875rem;
    background-image: url("~assets/img/mdc-demos/1-1.bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    [mdcCardPrimary],
    [mdcCardActions] {
        background: rgba(0, 0, 0, .4);
    }
}
