<fieldset class="blox-snippet snippet-skip-line">
<div>Buttons:
  <div mdcFormfield>
    <div mdcCheckbox>
      <input mdcCheckboxInput type="checkbox" [(ngModel)]="disabled"/>
    </div>
    <label mdcFormfieldLabel>Disable buttons</label>
  </div>
</div>
<button mdcButton [disabled]="disabled">Default</button>
<button mdcButton mdcRaised [disabled]="disabled">Raised</button>
<button mdcButton mdcDense [disabled]="disabled">Dense Default</button>
<button mdcButton mdcDense mdcRaised [disabled]="disabled">Dense Raised</button>
<button mdcButton mdcCompact [disabled]="disabled">Compact</button>
<button mdcButton mdcCompact mdcRaised [disabled]="disabled">Compact Raised</button>
<button mdcButton mdcStroked [disabled]="disabled">Stroked</button>

<div>Anchors:</div>
<a href="javascript:void(0)" mdcButton>Anchor</a>
<a href="javascript:void(0)" mdcButton mdcRaised>Raised</a>
<a href="javascript:void(0)" mdcButton mdcDense>Dense Default</a>
<a href="javascript:void(0)" mdcButton mdcDense mdcRaised>Dense Raised</a>
<a href="javascript:void(0)" mdcButton mdcCompact>Compact</a>
<a href="javascript:void(0)" mdcButton mdcCompact mdcRaised>Compact Raised</a>
<a href="javascript:void(0)" mdcButton mdcStroked>Stroked</a>
</fieldset><div class="snippet-skip-line"></div>
