<fieldset class="blox-snippet snippet-skip-line">
<div mdcChipSet>
  <div mdcChip>
    <i mdcChipIcon class="material-icons">wb_sunny</i>
    <span mdcChipCell><span mdcChipPrimaryAction>
      <div mdcChipText>Turn lights on</div>
    </span></span>
  </div>
  <div mdcChip>
    <i mdcChipIcon class="material-icons">bookmark</i>
    <span mdcChipCell><span mdcChipPrimaryAction>
      <div mdcChipText>Bookmark</div>
    </span></span>
  </div>
  <div mdcChip>
    <i mdcChipIcon class="material-icons">alarm</i>
    <span mdcChipCell><span mdcChipPrimaryAction>
      <div mdcChipText>Set alarm</div>
    </span></span>
  </div>
  <div mdcChip>
    <i mdcChipIcon class="material-icons">directions</i>
    <span mdcChipCell><span mdcChipPrimaryAction>
      <div mdcChipText>Get directions</div>
    </span></span>
  </div>
</div>
</fieldset><div class="snippet-skip-line"></div>
