<fieldset class="blox-snippet snippet-skip-line">
<button mdcFab [exited]="exit" class="material-icons"><span mdcFabIcon>favorite_border</span></button>
<button mdcFab mini [exited]="exit" class="material-icons"><span mdcFabIcon>favorite_border</span></button>

<section>
  <div mdcFormField>
    <div mdcCheckbox>
      <input mdcCheckboxInput type="checkbox" [(ngModel)]="exit"/>
    </div>
    <label mdcFormFieldLabel>Exit Buttons</label>
  </div>
</section>
</fieldset><div class="snippet-skip-line"></div>
