@import "@material/theme/mixins";
@import "@material/typography/mixins";
@import "@material/rtl/mixins";
@import "@material/card/mixins"; // stackblitz-skip-line: Not supported on stackblitz due to https://github.com/stackblitz/core/issues/284

.custom-card-container {
    display: flex;
    align-items: flex-start;
    flex-flow: row wrap;
}

[mdcCard] {
    min-width: 320px;
    max-width: 21.875rem;
    margin: 24px;

    .custom-card__primary {
        padding: 1rem;
        h2 {
            @include mdc-typography('headline6');
            margin: 0;
        }
        h3 {
            @include mdc-typography('subtitle2');
            @include mdc-theme-prop(color, text-secondary-on-background);
            margin: 0;
        }
    }

    .custom-card__secondary {
        @include mdc-typography('body2');
        @include mdc-theme-prop(color, text-secondary-on-background);
        padding: 0 1rem 8px;
    }

    .custom-card-group-heading {
        @include mdc-typography('subtitle2');
        @include mdc-theme-prop(color, text-secondary-on-light);
        padding: 8px 16px;
    }

    .custom-card-article {
        padding: 16px;
        text-decoration: none;
        color: inherit;

        h2 {
            @include mdc-typography('headline5');
            margin: 0 0 4px 0;                
        }
        p {
            @include mdc-typography('body2');
            @include mdc-theme-prop(color, text-secondary-on-light);
            margin: 0;
        }
    }

    &.custom-card-photo {
        max-width: 200px;
        min-width: 100px;

        [mdcCardMediaContent] {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            h2 {
                padding: 8px 16px;
                margin: 0;
                @include mdc-typography('subtitle1');
                background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
                color: white;
            }
        }
    }

    &.custom-card-music {
        // stackblitz-skip-line: material/card/mixins not supported on stackblitz due to https://github.com/stackblitz/core/issues/284
        @include mdc-card-corner-radius(24px 4px);      // stackblitz-skip-line
        @include mdc-rtl {                              // stackblitz-skip-line
            @include mdc-card-corner-radius(4px 24px);  // stackblitz-skip-line
        }                                               // stackblitz-skip-line

        .custom-card-music-row {
            display: flex;
            border-top-left-radius: inherit;
            @include mdc-rtl {
                border-top-left-radius: 0;
                border-top-right-radius: inherit;
            }
        }

        [mdcCardMedia] {
            width: 110px;
            border-top-left-radius: inherit;
          
            @include mdc-rtl {
              border-top-left-radius: 0;
              border-top-right-radius: inherit;
            }
        }

        .custom-card-music-info {
            display: flex;
            flex-direction: column;
            padding: 8px 16px;

            h2 {
                @include mdc-typography('headline5');
                margin: 0;
            }

            .custom-card-music-artist {
                @include mdc-typography('body2');
            }


            .custom-card-music-year {
                @include mdc-typography('body2');
            }
        }
    }

    .mdc-card__media--16-9 {
        background-image: url(~assets/img/mdc-demos/16-9.jpg);
    }

    .mdc-card__media--square {
        background-image: url(~assets/img/mdc-demos/1-1.jpg);
    }
}
