<div class="blox-code-sample-toolbar">
  <div class="blox-code-sample-toolbar-firstrow">
    <h3><ng-content select="[bloxSampleTitle]"></ng-content></h3>
    <div class="blox-code-sample-toolbar-actions">
      <button mdcIconButton (click)="stackblitz()" class="material-icons"
        [title]="openStackblitz ? 'Edit in Stackblitz IDE' : (snippet.disableStackblitz ? 'Stackblitz not supported for this sample' : 'Preparing Stackblitz IDE')"
        [disabled]="!openStackblitz"
        >{{stackblitzIcon}}</button>
      <button mdcIconButton
        class="material-icons"
        labelOn="Hide source code"
        labelOff="Show source code"
        iconOn="expand_less"
        iconOff="expand_more"
        [(on)]="showCode"
        title="Show/hide code"></button>
    </div>
  </div>
  <nav *ngIf="showCode" mdcTabBar class="blox-sample-tab-bar">
    <a *ngFor="let name of snippetNames" mdcTab (activate)="activate(name)" tabindex="0" role="link">{{name}}</a>
  </nav>
</div>
<pre *ngIf="showCode && active"><code highlightJs [source]="snippet.code[active]" [lang]="active"></code></pre>
<ng-content select="[bloxSample]"></ng-content>
