/* Stackblitz currently doesn't support the way material-components scss
   source files import each other. Therefore we just import the full css
   for this demo: */
@import "~material-components-web/dist/material-components-web.css";
/* and we apply the roboto font to the body: */
body {
  font-family: Roboto, sans-serif;
  font-family: var(--mdc-typography-font-family, Roboto, sans-serif);
}
