@use "variables";
@use "mdc";
@use "@material/theme";
@use "@material/button";
@use "@material/chips/_index.scss" as chips;
@use "mixins";
@import "~normalize.css/normalize.css";
@import "highlight/light";
@import "typography";

body, html {
  color: rgba(0,0,0,.87);
  background-color: variables.$mdc-theme-background;
}

body {
  display: flex;
}
blox-app {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
  min-height: 100vh;
  min-width: 0;
}
main {
  flex: 1 1 auto;
}

.blox-container {
  @include mixins.blox-container;
}
.blox-nobreak {
  word-wrap: none;
  white-space: nowrap;
}
.blox-content-last {
  margin-bottom: 16px;
}

blockquote {
  border-left: 4px solid variables.$mdc-theme-secondary;
  padding: 16px;
  margin: 0 0 0 8px;
}

.weak {
  @include theme.prop(color, text-secondary-on-background);
  .blox-theme-dark & {
    @include theme.prop(color, text-secondary-on-dark);
  }
}

span.blox-inline-svg {
  fill: #000;
  stroke: #000;
}

.mdc-button.blox-button-attract {
  @include button.filled-accessible(variables.$mdc-theme-secondary);
}

// make selected state visible:
.mdc-chip-set--choice, .mdc-chip-set--filter {
 .mdc-chip--selected {
    @include theme.prop(background-color, secondary);
 }
}

// don't show all sample drwawers above the scrim if we have one active modal drawer:
.blox-main .mdc-drawer {
  z-index: initial;

  &.mdc-drawer--modal.mdc-drawer--open {
    z-index: 6;
  }
}
