@use "variables";
@use "mdc";
@use "@material/theme";
@use "@material/button";
@use "@material/chips/_index.scss" as chips;
@use "mixins";
@import "~normalize.css/normalize.css";
@import "typography";

body, html {
  color: variables.$text-on-background;
  background-color: variables.$mdc-theme-background;
}

body {
  display: flex;
}
blox-app {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
  min-height: 100vh;
  min-width: 0;
  width: 100%; // IE needs explicit width for flex-basis auto to work
}
main {
  flex: 1 1 auto;
  width: 100%; // IE needs explicit width for flex-basis auto to work
}

a {
  @include theme.prop(color, variables.$mdc-on-surface);
}

.blox-container {
  @include mixins.blox-container;
}
.blox-nobreak {
  word-wrap: none;
  white-space: nowrap;
}
.blox-content-last {
  margin-bottom: 16px;
}

blockquote {
  border-left: 4px solid variables.$mdc-theme-secondary;
  padding: 16px;
  margin: 0 0 0 8px;
}

.weak {
  @include theme.prop(color, text-secondary-on-background);
}

span.blox-inline-svg {
  fill: variables.$text-on-background;
  stroke: variables.$text-on-background;
}

.mdc-button.blox-button-attract {
  @include button.filled-accessible(variables.$mdc-theme-secondary);
}

// don't show all sample drawers above the scrim if we have one active modal drawer:
.blox-main .mdc-drawer {
  z-index: initial;

  &.mdc-drawer--modal.mdc-drawer--open {
    z-index: 6;
  }
}
