@use "variables";
@use "mdc";
@use "@material/theme";
@use "mixins";
@import "~normalize.css/normalize.css";
@import "highlight/light";
@import "typography";

body, html {
  color: rgba(0,0,0,.87);
  background-color: variables.$mdc-theme-background;
}

body {
  display: flex;
}
blox-app {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
  min-height: 100vh;
  min-width: 0;
}
main {
  flex: 1 1 auto;
}

.blox-container {
  @include mixins.blox-container;
}
.blox-nobreak {
  word-wrap: none;
  white-space: nowrap;
}
.blox-content-last {
  margin-bottom: 16px;
}

blockquote {
  border-left: 4px solid variables.$mdc-theme-secondary;
  padding: 16px;
  margin: 0 0 0 8px;
}

.weak {
  @include theme.prop(color, text-secondary-on-background);
  .blox-theme-dark & {
    @include theme.prop(color, text-secondary-on-dark);
  }
}

span.blox-inline-svg {
  fill: #000;
  stroke: #000;
}
