@use "@material/theme";
@use "variables";
@use "@material/card";
  
.blox-code-sample {
  display: block;
  @include card.outline(card.$outline-color);
  @include card.shape-radius(4px); // TODO after upgrade: @include card.shape-radius(4px);
  pre {
    overflow-x: auto;
    padding: 16px;
    margin: 0;
  }
  code {
    background: transparent;
  }
}

blox-code-sample {
  display: block;
  overflow: hidden;
  @include card.outline(card.$outline-color);
  @include card.shape-radius(4px); // TODO after upgrade: @include card.shape-radius(4px);
  .blox-code-sample-toolbar {
    box-sizing: border-box;
    .blox-code-sample-toolbar-firstrow {
      position: relative;
      height: 48px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      h3 {
        position: absolute;
        display: inline-block;
        height: 48px;
        margin: 0;
        padding: 12px 24px;
        box-sizing: border-box;
        font-weight: 500;
      }
      .blox-code-sample-toolbar-actions {
        float: right;
        display: flex;
      }
    }
    .blox-sample-tab-bar {
      border-bottom: 1px solid card.$outline-color;
    }
  }
  pre {
    overflow-x: auto;
    padding: 16px;
    margin: 0;
    border-bottom: 1px solid card.$outline-color;
  }
  code {
    background: transparent;
  }
  nav.mdc-tab-bar.blox-sample-tab-bar {
    display: flex; // so it doesn't fill entire width. (inline-block should do the same, but adds a little space below somehow)
    margin: 0;
  }
  iframe {
    width: 100%;
    height: 350px;
    border-width: 0;
  }
}

.blox-snippet {
  margin: 0;
  padding: 16px;
  border-width: 0;
}

.blox-snippet-page {
  position: relative;
  width: 100%;
  height: 350px;
  overflow-y: auto;
}

// content of tabs in tab demos:
.blox-tab-sample-content {
  padding: 16px;
}

// paragrah content below demo toolbars:
p.blox-demo-paragraph {
  margin: 0px;
  padding: 16px 0;
}