@use "variables";
@use "@material/card";

.blox-docs-api {
  .blox-docs-class-selector-name {
    font-family: "Roboto Mono", monospace;
  }
  .blox-docs-method-name-cell {
    font-family: "Roboto Mono", monospace;
  }

  code.blox-docs-method-returns-type,
  code.blox-docs-property-type {
    background-color: transparent;
  }

  table {
    @include card.outline(card.$outline-color);
    @include card.shape-radius(2px);
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 0 32px 0;
    width: 100%;

    th {
      background: variables.$toned-bg-color;
      font-weight: 400;
      max-width: 100px;
      padding: 8px 16px;
      text-align: left;
    }

    td {
      @include card.outline(card.$outline-color);

      font-weight: 400;
      padding: 8px 16px;

      &.blox-docs-properties-name-cell, &.blox-docs-method-parameter-cell, &.blox-docs-method-returns-type-cell {
        font-size: 14px;
        font-family: "Roboto Mono", monospace;
        .blox-docs-property-name, .blox-docs-method-parameter-name {
          margin: 0;
          font-weight: 600;
        }
        .blox-docs-input-marker, .blox-docs-output-marker {
          font-size: 12px;
        }
      }
    }
  }

  @media only screen and (max-width: variables.$media-l-min-width - 1px) {
    table, thead, tbody, th, td, tr {
      display: block;
    }
    thead {
      background: variables.$toned-bg-color;
    }
    tr[data-caption] {
      background: variables.$toned-bg-color;
      padding: 8px 16px;
      font-weight: 400;
      th {
        // hide, but keep 'display':
        position: absolute;
        top: -9999px;
        left: -9999px;
      }
      &::before {
        content: attr(data-caption)
      }
    }
    table {
      td {
        border: 0px;
        p { margin: 0}
        .blox-docs-input-marker, .blox-docs-property-name, .blox-docs-property-type {
          display: inline;
        }
      }
      tr {
        @include card.outline(card.$outline-color);
      }
    }
  }
}
