@use "variables";
@use "@material/typography";

footer.blox-footer {
  $footer-bg-color: mdc-theme-ink-color-for-fill_(secondary, variables.$mdc-theme-background);
  @include typography.typography(caption);
  text-align: center;
  background: #fafafa;
  padding-top: 12px;
  
  .mdc-button {
    margin: 8px 16px;
    font-weight: 400;
  }
}
