@use "variables";
@use "@material/typography";
@use "@material/button";

footer.blox-footer {
  @include typography.typography(caption);
  text-align: center;
  background: variables.$toned-bg-color;
  padding-top: 12px;
  
  .mdc-button {
    @include button.filled-accessible(variables.$toned-bg-color);
    margin: 8px 16px;
    font-weight: 400;
  }
}
