// definition of some of the important colors for the themes, so that they can also be used outside the theme,
// for creating a theme-switcher component with color pallette.
// the individual themes read the values from this map, but may also define other colors.
$colors: (
    dark: (
        primary: #62c8f3,
        secondary: #00e871,
        surface: #212121,
        on-primary: #000,
        on-secondary: #000,
        on-surface: #fff,
        footer-surface: #1a1a1a
    ),
    funky: (
        primary: #e8009a,
        secondary:  #00e871,
        surface: #f5f5f5,
        on-primary: #fff,
        on-secondary: #000,
        on-surface: #000,
        footer-surface: #e8e8e8
    )
)