$media-s-min-width: 0;
$media-m-min-width: 601px;
$media-l-min-width: 993px;
$media-xl-min-width: 1200px;

$container-s-width: 90%;
$container-m-width: 85%;
$container-l-width: 70%;
$container-xl-width: 70%;
$container-max-width: 1280px;

$mdc-theme-primary: #212121;
$mdc-theme-accent: #00e871;
$mdc-theme-background: #fff;

$mdc-toolbar-row-height: 64px;
$mdc-toolbar-mobile-row-height: 56px;
$mdc-toolbar-mobile-breakpoint: $media-m-min-width - 1px;

@import "@material/theme/variables";
