@charset "UTF-8";

@import "variables";
@import "~normalize.css/normalize.css";
@import "neat";
@import "mdc";
@import "mixins";
@import "~highlight.js/styles/default.css";
@import "typography";

body, html {
  color: rgba(0,0,0,.87);
  background-color: $mdc-theme-background;
}

body {
  display: flex;
}
blox-app {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
  min-height: 100vh;
  min-width: 0;
}
main {
  flex: 1 1 auto;
}

.blox-container {
  @include blox-container;
}

.blox-nobreak {
  word-wrap: none;
  white-space: nowrap;
}

.blox-material-header-logo {
  position: absolute;
  top: $mdc-toolbar-row-height;
  bottom: 0;
  align-self: center;
  background-image: url(~assets/img/logos/bloxmaterial.svg);
  background-repeat: no-repeat;
  background-size: contain;
  transition: mdc-animation-exit-temporary(top, 175ms);
}
.mdc-toolbar--fixed-at-last-row .blox-material-header-logo {
  top: 2 * $mdc-toolbar-row-height;
}
@media (max-width: $mdc-toolbar-mobile-landscape-width-breakpoint) and (orientation: landscape) {
  .blox-material-header-logo {
    top: $mdc-toolbar-mobile-landscape-row-height;
  }
  .mdc-toolbar--fixed-at-last-row .blox-material-header-logo {
    top: 2 * $mdc-toolbar-mobile-landscape-row-height;
  }
}
@media (max-width: $mdc-toolbar-mobile-breakpoint) {
  .blox-material-header-logo {
    top: $mdc-toolbar-mobile-row-height;
  }
  .mdc-toolbar--fixed-at-last-row .blox-material-header-logo {
    top: 2 * $mdc-toolbar-mobile-row-height;
  }
}

header {
  &.blox-header {
    .mdc-toolbar__row:first-child {
      height: $mdc-toolbar-row-height * $blox-toolbar-ratio-to-extend-flexible;
      height: calc(#{$mdc-toolbar-row-height} * #{$blox-toolbar-ratio-to-extend-flexible});
  
      @media (max-width: $mdc-toolbar-mobile-breakpoint) {
        height: $mdc-toolbar-mobile-row-height * $blox-toolbar-ratio-to-extend-flexible;
        height: calc(#{$mdc-toolbar-mobile-row-height} * #{$blox-toolbar-ratio-to-extend-flexible});
      }
    }
    z-index: 5; // layer above sample toolbars

    .mdc-toolbar__title {
      font-family: "Roboto Mono", monospace;
      &.blox-title-l {
        display: none;
        @media only screen and (min-width: $media-xl-min-width) {
          display: block;
        }
      }
      &.blox-title-m {
        display: none;
        @media only screen and (min-width: $media-l-min-width) and (max-width: $media-xl-min-width - 1px) {
          display: block;
        }
      }
      &.blox-title-s {
        display: block;
        @media only screen and (min-width: $media-l-min-width) {
          display: none;
        }
      }
    }
    .mdc-toolbar__section--align-end {
      .mdc-tab-bar {
        position: absolute;
        bottom: 0px;
        right: 0px; // otherwise it falls partially of screen in IE11
        z-index: 5; // otherwise in ie11 the element that pushes it of screen
                    // prevents the tabs from being clicked
        
        .mdc-tab {
          @include mdc-states(text-secondary-on-primary); // use light ripple, instead of dark
          @include mdc-tab-ink-color(text-secondary-on-primary);
          &:hover {
            @include mdc-tab-ink-color(text-primary-on-primary);
          }
        }
        .mdc-tab--active {
          @include mdc-theme-prop(color, secondary);
        }
        .mdc-tab-bar__indicator {
          @include mdc-theme-prop(background-color, secondary);
        }
      }
    }
  }
}

footer {
  @include mdc-typography(caption);
  text-align: center;
  background: #fafafa;
  padding-top: 12px;
}

blockquote {
  background-color: #f5f5f5;
  border-left: 8px solid $mdc-theme-secondary;
  padding: 16px;
  margin: 0;
}

.blox-component-list {
  img {
    width: 38px;
    height: 38px;
  }
}

$blox-component-list-grid: (
  columns: 1,
  gutter: 24px
);
$blox-component-list-grid-l: (
  columns: 2,
  gutter: 24px,
  media: $media-l-min-width
);

nav.blox-component-list {
  section {
    @include grid-column(1, $blox-component-list-grid);
    @include grid-media($blox-component-list-grid-l) {
      @include grid-column(1);
    }
    a {
      @include mdc-theme-prop(color, text-primary-on-light);
      display: flex;
      align-items: center;
      text-decoration: none;

      .blox-component-list-item-img img {
        min-width: 38px;
        height: 38px;
        margin-right: 24px;
      }
      h2, h3 {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
}

.blox-snippet {
  margin: 0;
  padding: 16px;
  border-width: 0;
}

.blox-snippet-page {
  position: relative;
  width: 100%;
  height: 350px;
  overflow-y: auto;
}

code {
  background: #f5f5f5;
}

.blox-code-sample {
  display: block;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
  border-width: 0;  
  pre {
    background: #f5f5f5;
    overflow-x: auto;
    padding: 16px;
    margin: 0;
  }
  code {
    background: transparent;
  }
}

blox-code-sample {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
  border-width: 0;
  display: block;
  overflow: hidden;
  .blox-code-sample-toolbar {
    background: #f5f5f5;
    box-sizing: border-box;
    .blox-code-sample-toolbar-firstrow {
      max-height: 48px;
      white-space:nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      h3 {
        display: inline-block;
        height: 48px;
        margin: 0;
        padding: 12px 24px;
        box-sizing: border-box;
        font-weight: 500;
      }
      .blox-code-sample-toolbar-toggle {
        float: right;
      }
    }
  }
  pre {
    overflow-x: auto;
    padding: 16px;
    margin: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
  code {
    background: transparent;
  }
  nav.mdc-tab-bar {
    margin: 0;
  }
}

.mdc-toolbar a.blox-home-link {
  text-decoration: none;
  color: inherit;
}

.blox-tab-sample-content {
  padding: 16px;
}

p.blox-demo-paragraph {
  margin: 0px;
  padding: 16px 0;
}

.blox-docs-api {
  .blox-docs-class-selector-name {
    font-family: "Roboto Mono", monospace;
    background-color: rgba(0, 0, 0, 0.05);
  }
  .blox-docs-method-name-cell {
    font-family: "Roboto Mono", monospace;
  }

  code.blox-docs-method-returns-type,
  code.blox-docs-property-type {
    background-color: transparent;
  }

  table {
    color: rgba(0,0,0,.87);
    border-collapse: collapse;
    border-radius: 2px;
    border-spacing: 0;
    margin: 0 0 32px 0;
    width: 100%;
    box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);

    th {
      background: #f5f5f5;
      font-weight: 400;
      max-width: 100px;
      padding: 8px 16px;
      text-align: left;
    }

    td {
      border: 1px solid rgba(0,0,0,.03);
      font-weight: 400;
      padding: 8px 16px;
  
      &.blox-docs-properties-name-cell, &.blox-docs-method-parameter-cell, &.blox-docs-method-returns-type-cell {
        font-size: 14px;
        font-family: "Roboto Mono", monospace;
        .blox-docs-property-name, .blox-docs-method-parameter-name {
          margin: 0;
          font-weight: 600;
        }
        .blox-docs-input-marker, .blox-docs-output-marker {
          font-size: 12px;
        }
      }
    }
  }

  @media only screen and (max-width: $media-l-min-width - 1px) {
    table, thead, tbody, th, td, tr {
      display: block;
    }
    thead {
      background: #f5f5f5;
    }
    tr[data-caption] {
      background: #f5f5f5;
      padding: 8px 16px;
      font-weight: 400;
      th {
        // hide, but keep 'display':
        position: absolute;
        top: -9999px;
        left: -9999px;
      }      
      &::before {
        content: attr(data-caption)
      }
    }
    table {
      td {
        border: 0px;
        p { margin: 0}
        .blox-docs-input-marker, .blox-docs-property-name, .blox-docs-property-type {
          display: inline;
        }
      }
      tr {
        border: 1px solid rgba(0,0,0,.03);        
      }
    }
  }
}

.blox-intro {
  margin-top: 16px;
  h1 {
    padding: 16px;
    margin: 0;
    @include mdc-typography('title');
  }
  p {
    @include mdc-typography('subheading1');
    padding: 0 16px;
    margin: 0;
  }
  [mdcButton] img {
    height: 18px;
    width: 18px;
    top: -2px;
    position: relative;
  }
}

.blox-jumbo {
  font-size: 24px;
  @media only screen and (max-width: $media-m-min-width - 1px) {
    font-size: 16px;
  }
  .blox-inline-svg {
    height: 28px;
    width: 28px;
    top: 6px;
    position: relative;
    @media only screen and (max-width: $media-m-min-width - 1px) {
      height: 16px;
      width: 16px;
      top: 3px;
    }
  }
  a {
    text-decoration: none;
  }
}
