@charset "UTF-8";

@import "variables";
@import "~normalize.css/normalize.css";
@import "neat";
@import "mdc";
@import "mixins";
@import "highlight/light";
@import "typography";

body, html {
  color: rgba(0,0,0,.87);
  background-color: $mdc-theme-background;
}

body {
  display: flex;
}
blox-app {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
  min-height: 100vh;
  min-width: 0;
}
main {
  flex: 1 1 auto;
}

.blox-container {
  @include blox-container;
}

.blox-nobreak {
  word-wrap: none;
  white-space: nowrap;
}

.blox-content-last {
  margin-bottom: 16px;
}

.blox-material-header-logo {
  position: absolute;
  top: $mdc-toolbar-row-height;
  bottom: 0;
  align-self: center;
  background-image: url(~assets/img/logos/bloxmaterial.svg);
  background-repeat: no-repeat;
  background-size: contain;
  transition: mdc-animation-exit-temporary(top, 175ms);
}
a.blox-drop-ua {
  @include mdc-theme-prop(color, text-secondary-on-dark);
  &:focus {
    outline: none;
  }
}
a.blox-home-link {
  height: $mdc-toolbar-row-height; max-width: 2 * $mdc-toolbar-row-height;
}
.mdc-toolbar--fixed-at-last-row .blox-material-header-logo {
  top: 2 * $mdc-toolbar-row-height;
}
@media (max-width: $mdc-toolbar-mobile-landscape-width-breakpoint) and (orientation: landscape) {
  a.blox-home-link { height: $mdc-toolbar-mobile-landscape-row-height; max-width: 2 * $mdc-toolbar-mobile-landscape-row-height; }
  .blox-material-header-logo {
    top: $mdc-toolbar-mobile-landscape-row-height;
  }
  .mdc-toolbar--fixed-at-last-row .blox-material-header-logo {
    top: 2 * $mdc-toolbar-mobile-landscape-row-height;
  }
}
@media (max-width: $mdc-toolbar-mobile-breakpoint) {
  a.blox-home-link { height: $mdc-toolbar-mobile-row-height; max-width: 2 * $mdc-toolbar-mobile-row-height; }
  .blox-material-header-logo {
    top: $mdc-toolbar-mobile-row-height;
  }
  .mdc-toolbar--fixed-at-last-row .blox-material-header-logo {
    top: 2 * $mdc-toolbar-mobile-row-height;
  }
}

header {
  &.blox-header {
    .mdc-toolbar__row:first-child {
      height: $mdc-toolbar-row-height * $blox-toolbar-ratio-to-extend-flexible;
      height: calc(#{$mdc-toolbar-row-height} * #{$blox-toolbar-ratio-to-extend-flexible});
  
      @media (max-width: $mdc-toolbar-mobile-breakpoint) {
        height: $mdc-toolbar-mobile-row-height * $blox-toolbar-ratio-to-extend-flexible;
        height: calc(#{$mdc-toolbar-mobile-row-height} * #{$blox-toolbar-ratio-to-extend-flexible});
      }
    }
    z-index: 5; // layer above sample toolbars

    .mdc-toolbar__title {
      font-family: "Roboto Mono", monospace;
      &.blox-title-l {
        display: none;
        @media only screen and (min-width: $media-xl-min-width) {
          display: block;
        }
      }
      &.blox-title-m {
        display: none;
        @media only screen and (min-width: $media-l-min-width) and (max-width: $media-xl-min-width - 1px) {
          display: block;
        }
      }
      &.blox-title-s {
        display: block;
        @media only screen and (min-width: $media-l-min-width) {
          display: none;
        }
      }
    }
    .mdc-toolbar__section--align-end {
      .mdc-tab-bar {
        position: absolute;
        bottom: 0px;
        right: 0px; // otherwise it falls partially of screen in IE11
        z-index: 5; // otherwise in ie11 the element that pushes it of screen
                    // prevents the tabs from being clicked
        
        .mdc-tab {
          @include mdc-states(text-secondary-on-dark); // use light ripple, instead of dark
          @include mdc-tab-ink-color(text-secondary-on-dark);
          &:hover {
            @include mdc-tab-ink-color(on-primary);
          }
        }
        .mdc-tab--active {
          @include mdc-theme-prop(color, secondary);
        }
        .mdc-tab-bar__indicator {
          @include mdc-theme-prop(background-color, secondary);
        }
      }
    }
  }
}

footer.blox-footer {
  $footer-bg-color: mdc-theme-ink-color-for-fill_(secondary, $mdc-theme-background);
  @include mdc-typography(caption);
  text-align: center;
  background: #fafafa;
  padding-top: 12px;

  .mdc-button {
    margin: 8px 16px;
    font-weight: 400;
  }
  .blox-theme-dark & {
    background: $footer-bg-color;
    .mdc-button {
      @include mdc-button-filled-accessible($footer-bg-color);
    }
  }
}

blockquote {
  border-left: 4px solid $mdc-theme-secondary;
  padding: 16px;
  margin: 0 0 0 8px;
}

.blox-component-list {
  img {
    width: 38px;
    height: 38px;
  }
}

.mdc-button.blox-button-attract {
  @include mdc-button-filled-accessible($mdc-theme-secondary);
  .blox-theme-dark & {
    @include mdc-button-filled-accessible($mdc-theme-secondary);
  }
}

.blox-index-intro, .blox-index-foot {
  text-align: center;
  .mdc-button {
    margin: 8px 16px;
  }
}

$blox-img-list-grid: (
  columns: 1,
  gutter: 16px
);
$blox-img-list-grid-m: (
  columns: 3,
  gutter: 16px,
  media: $media-m-min-width
);
.blox-img-list {
  margin: 16px auto 0 auto;
  max-width: $container-smaller-max-width;
}
.blox-img-list-row {
  @include grid-container($blox-img-list-grid);
  @include grid-media($blox-img-list-grid-m) {
    @include grid-container($blox-img-list-grid-m);
  }
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  &:nth-child(odd) {
    text-align: right;
    @media only screen and (min-width: $media-m-min-width) {
      flex-flow: row-reverse;
    }
    .blox-img-list-img {
      background-position-x: left;
    }
  }
  .blox-img-list-img {
    background-position-x: right;
    background-position-y: center;
    min-height: 100px;
  }
}
.blox-img-list-img {
  display: block;
  @include grid-column(1, $blox-img-list-grid);
  @include grid-media($blox-img-list-grid-m) {
    @include grid-column(1);
    max-width: initial;
  }
  align-self: stretch;
  background-size: contain;
  background-repeat: no-repeat;
  &.blox-bg-fast { background-image: url(~assets/img/photos/speed.jpg); }
  &.blox-bg-themeable { background-image: url(~assets/img/photos/crayons.jpg); }
  &.blox-bg-accessible { background-image: url(~assets/img/photos/mobile.jpg); }
  &.blox-bg-404 { background-image: url(~assets/img/photos/shark.jpg); }
}
.blox-img-list-cap {
  @include grid-column(1, $blox-img-list-grid);
  margin-top: -58px; // moves the caption into the image above it
  @include grid-media($blox-img-list-grid-m) {
    @include grid-column(2);
    margin-top: 16px;  // makes blox-img-list-img a little bit taller
  }
}

$blox-component-list-grid: (
  columns: 1,
  gutter: 24px
);
$blox-component-list-grid-l: (
  columns: 2,
  gutter: 24px,
  media: $media-l-min-width
);

nav.blox-component-list {
  section {
    @include grid-column(1, $blox-component-list-grid);
    @include grid-media($blox-component-list-grid-l) {
      @include grid-column(1);
    }
    a {
      @include mdc-theme-prop(color, text-primary-on-light);
      display: flex;
      align-items: center;
      text-decoration: none;

      .blox-component-list-item-img svg {
        min-width: 38px;
        height: 38px;
        margin-right: 24px;
      }
      h2, h3 {
        margin-top: 0;
        margin-bottom: 0;
      }
      .blox-theme-dark & {
        @include mdc-theme-prop(color, text-primary-on-dark);      
      }
    }
  }
}

.blox-snippet {
  margin: 0;
  padding: 16px;
  border-width: 0;
}

.blox-snippet-page {
  position: relative;
  width: 100%;
  height: 350px;
  overflow-y: auto;
}

code {
  background: #f5f5f5;
  .blox-theme-dark & {
    background: mdc-theme-ink-color-for-fill_(secondary, $mdc-theme-background);
  }
}

.blox-code-sample {
  display: block;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
  border-width: 0;  
  pre {
    background: #f5f5f5;
    overflow-x: auto;
    padding: 16px;
    margin: 0;
    .blox-theme-dark & {
      background: mdc-theme-ink-color-for-fill_(secondary, $mdc-theme-background);
    }  
  }
  code {
    background: transparent;
  }
}

blox-code-sample {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
  border-width: 0;
  display: block;
  overflow: hidden;
  .blox-code-sample-toolbar {
    background: #f5f5f5;
    box-sizing: border-box;
    .blox-code-sample-toolbar-firstrow {
      max-height: 48px;
      white-space:nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      h3 {
        display: inline-block;
        height: 48px;
        margin: 0;
        padding: 12px 24px;
        box-sizing: border-box;
        font-weight: 500;
      }
      .blox-code-sample-toolbar-actions {
        float: right;
        display: flex;
      }
    }
  }
  pre {
    overflow-x: auto;
    padding: 16px;
    margin: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
  code {
    background: transparent;
  }
  nav.mdc-tab-bar {
    margin: 0;
  }
}

.blox-tab-sample-content {
  padding: 16px;
}

p.blox-demo-paragraph {
  margin: 0px;
  padding: 16px 0;
}

.blox-docs-api {
  .blox-docs-class-selector-name {
    font-family: "Roboto Mono", monospace;
    background-color: rgba(0, 0, 0, 0.05);
  }
  .blox-docs-method-name-cell {
    font-family: "Roboto Mono", monospace;
  }

  code.blox-docs-method-returns-type,
  code.blox-docs-property-type {
    background-color: transparent;
  }

  table {
    color: rgba(0,0,0,.87);
    border-collapse: collapse;
    border-radius: 2px;
    border-spacing: 0;
    margin: 0 0 32px 0;
    width: 100%;
    box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);

    th {
      background: #f5f5f5;
      font-weight: 400;
      max-width: 100px;
      padding: 8px 16px;
      text-align: left;
    }

    td {
      border: 1px solid rgba(0,0,0,.03);
      font-weight: 400;
      padding: 8px 16px;
  
      &.blox-docs-properties-name-cell, &.blox-docs-method-parameter-cell, &.blox-docs-method-returns-type-cell {
        font-size: 14px;
        font-family: "Roboto Mono", monospace;
        .blox-docs-property-name, .blox-docs-method-parameter-name {
          margin: 0;
          font-weight: 600;
        }
        .blox-docs-input-marker, .blox-docs-output-marker {
          font-size: 12px;
        }
      }
    }
  }

  @media only screen and (max-width: $media-l-min-width - 1px) {
    table, thead, tbody, th, td, tr {
      display: block;
    }
    thead {
      background: #f5f5f5;
    }
    tr[data-caption] {
      background: #f5f5f5;
      padding: 8px 16px;
      font-weight: 400;
      th {
        // hide, but keep 'display':
        position: absolute;
        top: -9999px;
        left: -9999px;
      }      
      &::before {
        content: attr(data-caption)
      }
    }
    table {
      td {
        border: 0px;
        p { margin: 0}
        .blox-docs-input-marker, .blox-docs-property-name, .blox-docs-property-type {
          display: inline;
        }
      }
      tr {
        border: 1px solid rgba(0,0,0,.03);        
      }
    }
  }
}

svg.blox-inline-svg {
  position: relative;
  top: -0.14em;
  height: 1.3em;
  fill: #000;
  stroke: #000;
  .blox-theme-dark & {
    fill: #fff;
    stroke: #fff;
  }
}

.weak {
  @include mdc-theme-prop(color, text-secondary-on-background);
  .blox-theme-dark & {
    @include mdc-theme-prop(color, text-secondary-on-dark);
  }
}

.blox-theme-dark {
  background-color: $mdc-theme-primary;
  @include mdc-theme-prop(color, text-primary-on-dark);
  .mdc-button {
    @include mdc-button-filled-accessible($mdc-theme-primary);
  }
  .mdc-list {
    @include mdc-list-item-primary-text-ink-color(text-primary-on-dark);
  }
  .mdc-list-item--selected, .mdc-list-item--activated {
    @include mdc-list-item-primary-text-ink-color(text-primary-on-dark);
    @include mdc-list-item-graphic-ink-color(text-primary-on-dark);
  }
  :not(.mdc-list--non-interactive) > .mdc-list-item {
    @include mdc-states-base-color(white);
  }

  a {
    @include mdc-theme-prop(color, text-secondary-on-dark);
  }

  @import "highlight/dark";
}
