<header mdcToolbar class="blox-header" isFixed [fixedAdjust]="main" isFlexible isFlexibleDefaultBehavior isFixedLastrowOnly isWaterfall>
  <div class="blox-container blox-material-header-logo">
  </div>
  <div mdcToolbarRow class="blox-container">
    <a mdcToolbarSection alignStart routerLink="/">
      <span mdcToolbarTitle class="blox-title-l">blox material:</span>
      <span mdcToolbarTitle class="blox-title-m">blox material:</span>      
      <span mdcToolbarTitle class="blox-title-s">material</span>
    </a>
  </div>
  <div mdcToolbarRow class="blox-container">
    <div mdcToolbarSection alignEnd>
      <span mdcToolbarTitle class="blox-title-l">material components for angular</span>
      <span mdcToolbarTitle class="blox-title-m">components for angular</span>      
      <span mdcToolbarTitle class="blox-title-s">components</span>
    </div>
  </div>  
  <div mdcToolbarRow class="blox-container">
    <div mdcToolbarSection alignEnd>
      <nav mdcTabBar>
        <a mdcTabRouter [routerLink]="['guides']">Guides</a>
        <a mdcTabRouter [routerLink]="['components']">Components</a>
      </nav>
    </div>
  </div>
</header>
<main mdcToolbarFixedAdjust #main="mdcFixedAdjust">
  <div class="blox-container">
    <router-outlet></router-outlet>
  </div>
</main>
<footer class="blox-footer">
  <div class="blox-container">Powered by The Source Zone &copy; 2017 - {{year}}, Amsterdam.
    Sourcecode on <a href="https://github.com/src-zone/material">github.com/src-zone/material</a>.
    Code licensed under Apache License v2.0.
    Documentation licensed under CC BY 4.0.
  </div>
</footer>
