<header mdcToolbar class="blox-header" fixed [fixedAdjust]="main" flexible flexibleDefaultBehavior fixedLastrowOnly>
  <div class="blox-container blox-material-header-logo">
  </div>
  <div mdcToolbarRow class="blox-container">
    <div mdcToolbarSection alignStart>
      <a mdcToolbarTitle routerLink="/" class="blox-title-l blox-drop-ua" tabindex="-1">blox material: components for angular</a>
      <a mdcToolbarTitle routerLink="/" class="blox-title-m blox-drop-ua" tabindex="-1">blox material: angular components</a>      
      <a mdcToolbarTitle routerLink="/" class="blox-title-s blox-drop-ua" tabindex="-1">material components</a>
    </div>
  </div>
  <div mdcToolbarRow class="blox-container">
    <a mdcToolbarSection alignStart routerLink="/" class="blox-home-link blox-drop-ua" tabindex="-1"></a>
  </div>  
  <div mdcToolbarRow class="blox-container">
    <a mdcToolbarSection alignStart routerLink="/" class="blox-home-link blox-drop-ua" tabindex="-1"></a>
    <div mdcToolbarSection alignEnd>
      <nav mdcTabBar>
        <a mdcTabRouter [routerLink]="['guides']">Guides</a>
        <a mdcTabRouter [routerLink]="['components']">Components</a>
      </nav>
    </div>
  </div>
</header>
<main mdcToolbarFixedAdjust #main="mdcFixedAdjust">
  <div class="blox-container">
    <router-outlet></router-outlet>
  </div>
</main>
<footer class="blox-footer">
  <div class="blox-container">
    <section>
      <a mdcButton href="https://twitter.com/intent/follow?screen_name=TheSourceZone" class="blox-nobreak blox-social" rel="nofollow">
        ${require('!inline!svg!assets/img/logos/twitter.svg')}&nbsp;Follow Blox Material
      </a>
      <a mdcButton href="https://github.com/src-zone/material" class="blox-nobreak blox-social" rel="nofollow">
        ${require('!inline!svg!assets/img/logos/github.svg')}&nbsp;<span class="weak">github.com/</span>src&#8209;zone/material
      </a>
    </section>
    Powered by The Source Zone &copy; 2017 - {{year}}, Amsterdam<br/>
    Code licensed under Apache License v2.0<br/>
    Documentation licensed under CC BY 4.0
  </div>
</footer>
