<h1>Chips</h1>
<p>Chips are compact elements that allow users to enter information, select a choice, filter content, or trigger an action.
</p>
<blox-code-sample>
  <span bloxSampleTitle>Action Chips Demo</span>
  <blox-snippet-chips bloxSample></blox-snippet-chips>
</blox-code-sample>
<br/>
<blox-code-sample>
  <span bloxSampleTitle>Choice Chips Demo</span>
  <blox-snippet-chips-choice bloxSample></blox-snippet-chips-choice>
</blox-code-sample>
<br/>
<blox-code-sample>
  <span bloxSampleTitle>Filter Chips Demo</span>
  <blox-snippet-chips-filter bloxSample></blox-snippet-chips-filter>
</blox-code-sample>
<br/>
<blox-code-sample>
  <span bloxSampleTitle>Input Chips Demo</span>
  <blox-snippet-chips-input bloxSample></blox-snippet-chips-input>
</blox-code-sample>

<div class="blox-docs-api">${require('@blox/material/apidocs/chips.html')}</div>