<h1>Drawers</h1>
<p>
The <code>mdcDrawer</code> and <code>mdcDrawerContainer</code> directives are used to create different kinds
of drawers.
</p>
<blox-code-sample>
  <span bloxSampleTitle>Drawer Demo</span>
  <blox-snippet-drawer bloxSample></blox-snippet-drawer>
</blox-code-sample>
<br/>
<blox-code-sample>
  <span bloxSampleTitle>Drawer below Toolbar Demo</span>
  <blox-snippet-drawer-below bloxSample></blox-snippet-drawer-below>
</blox-code-sample>

<div class="blox-docs-api" [innerHTML]="apiDoc"></div>
