<h1>Drawers</h1>
<p>
The <code>mdcDrawer</code> and <code>mdcDrawerContainer</code> directives are used to create different kinds
of drawers.
</p>
<blox-code-sample>
  <span bloxSampleTitle>Slidable Drawer Demo</span>
  <blox-snippet-drawer-slidable bloxSample></blox-snippet-drawer-slidable>
</blox-code-sample>
<br/>
<blox-code-sample>
  <span bloxSampleTitle>Permanent Drawer Demo</span>
  <blox-snippet-drawer-permanent bloxSample></blox-snippet-drawer-permanent>
</blox-code-sample>
<br/>
<blox-code-sample>
  <span bloxSampleTitle>Permanent Drawer below Toolbar Demo</span>
  <blox-snippet-drawer-permanent-below bloxSample></blox-snippet-drawer-permanent-below>
</blox-code-sample>

<div class="blox-docs-api">${require('~@blox/material/apidocs/drawer.html')}</div>
