<h1>Focus Trap</h1>
<p>
The <code>mdcFocusTrap</code> directive makes it possible to trap focus inside
a subtree of the DOM. An activated focus trap prevents users from interacting
with elements outside the trapped area. This can be used to create an accessible
experience for modal dialogs. Therefore <code>mdcFocusTrap</code> is typically
used in combination with <code>mdcDialog</code>.
</p>
<blox-code-sample>
  <span bloxSampleTitle>Focus Trap Demo</span>
  <blox-snippet-focus-trap bloxSample></blox-snippet-focus-trap>
</blox-code-sample>

<div class="blox-docs-api">${require('@blox/material/apidocs/focus-trap.html')}</div>
