<h1>Select</h1>
<p>Directive for creating a material designed select control menu.</p>
<p>As for all Blox Material directives: the controls can be used with or without the angular forms
  package.</p>

<h2>Accessibility</h2>
<p>
  This directive will automatically apply proper accessibility attributes to the control,
  and its items</p>

<blox-code-sample>
  <span bloxSampleTitle>Select Input</span>
  <blox-snippet-select bloxSample></blox-snippet-select>
</blox-code-sample>

<div class="blox-docs-api" [innerHTML]="apiDoc"></div>
