<h1>Select</h1>
<p>Directive for creating a material designed select input.
  There are three variants that can be used:
</p>
<ul>
  <li>The full fledged control, based on <code>mdcMenu</code>.</li>
  <li>A control based on the native <code>select</code> html element. This control may provide better
    usability on mobile devices.</li>
  <li>A control based on the native <code>select multiple</code> html element.</li>
</ul>
<p>As for all Blox Material directives: the controls can be used with or without the angular forms
  package.</p>

<h2>Accessibility</h2>
<p>
  This directive will automatically apply proper accessibility attributes to the control, the
  contained menu and its items</p>

<blox-code-sample>
  <span bloxSampleTitle>Select Demo</span>
  <blox-snippet-select bloxSample></blox-snippet-select>
</blox-code-sample>
<br/>
<blox-code-sample>
  <span bloxSampleTitle>Select Multiple Demo</span>
  <blox-snippet-select-multi bloxSample></blox-snippet-select-multi>
</blox-code-sample>

<div class="blox-docs-api">${require('~@blox/material/apidocs/select.html')}</div>
