<h1>Slider</h1>
<p>
The <code>mdcSlider</code> directive creates a material designed slider.
</p>

<h2>Accessibility</h2>
<p>The directive adds various <code>aria-*</code> attributes based on the state
of the slider. For full accessibility the slider should be given a meaningful
label by setting the <code>aria-label</code>, or <code>aria-labelledby</code>
attribute.
</p>

<blox-code-sample>
  <span bloxSampleTitle>Slider Demo</span>
  <blox-snippet-slider bloxSample></blox-snippet-slider>
</blox-code-sample>

<div class="blox-docs-api">${require('~@blox/material/apidocs/slider.html')}</div>
