<h1>Tabs</h1>
<p>
Tabbed navigation components
</p>
<blox-code-sample>
  <span bloxSampleTitle>Tabs Demo</span>
  <blox-snippet-tab-simple bloxSample></blox-snippet-tab-simple>
</blox-code-sample>
<br/>
<!--blox-code-sample>
  <span bloxSampleTitle>Routed Tabs Demo</span>
  <iframe bloxSample src="https://stackblitz.com/edit/blox-material-tab-routing?embed=1&file=src/main.ts&hideExplorer=1&hideNavigation=1&view=preview"></iframe>
</blox-code-sample>
<br/-->  
<blox-code-sample>
  <span bloxSampleTitle>Tabs with Icons Demo</span>
  <blox-snippet-tab-icons bloxSample></blox-snippet-tab-icons>
</blox-code-sample>
<br/>  
<blox-code-sample>
  <span bloxSampleTitle>Tab with Scroller Demo</span>
  <blox-snippet-tab-scroller bloxSample></blox-snippet-tab-scroller>
</blox-code-sample>

<div class="blox-docs-api" [innerHTML]="apiDoc"></div>
