<h1>Text-fields</h1>
<p>The <code>mdcTextField</code> directive provides various types of text-fields.
A text-field is composed of a label, input element, line, helptext, and possibly a leading or trailing icon.
The next code sample demonstrates some the behaviour of a single line text-field:</p>
<blox-code-sample>
  <span bloxSampleTitle>Single Line Text-field Demo</span>
  <blox-snippet-text-field bloxSample></blox-snippet-text-field>
</blox-code-sample>

<p>The next sample demonstrates text-fields with leading or trailing icons:</p>
<blox-code-sample>
  <span bloxSampleTitle>Text-field with Icon Demo</span>
  <blox-snippet-text-field-icon bloxSample></blox-snippet-text-field-icon>
</blox-code-sample>

<p>A textarea as input (for multiple lines of text) is also supported:</p>
<blox-code-sample>
  <span bloxSampleTitle>Textarea Demo</span>
  <blox-snippet-text-field-textarea bloxSample></blox-snippet-text-field-textarea>
</blox-code-sample>

<div class="blox-docs-api">${require('~@blox/material/apidocs/text-field.html')}</div>