<h1>Text Fields</h1>
<p>The <code>mdcTextField</code> directive provides various types of text-fields.
A text-field is composed of a label, input element, line, helper text, and possibly a leading or trailing icon.</p>

<blox-code-sample>
  <span bloxSampleTitle>Text Field Demo</span>
  <blox-snippet-text-field bloxSample></blox-snippet-text-field>
</blox-code-sample>
<br/>

<blox-code-sample>
  <span bloxSampleTitle>Text Field with Icon Demo</span>
  <blox-snippet-text-field-icon bloxSample></blox-snippet-text-field-icon>
</blox-code-sample>
<br/>

<blox-code-sample>
  <span bloxSampleTitle>Text Area Demo</span>
  <blox-snippet-text-field-textarea bloxSample></blox-snippet-text-field-textarea>
</blox-code-sample>

<div class="blox-docs-api">${require('@blox/material/apidocs/text-field.html')}</div>