<h1>Toolbars</h1>
<p>The <code>mdcToolbar</code> directive</p>

<p>Default toolbar:</p>
<blox-code-sample>
  <span bloxSampleTitle>Toolbar Demo</span>
  <blox-snippet-toolbar bloxSample></blox-snippet-toolbar>
</blox-code-sample>

<p>Flexible toolbar:</p>
<blox-code-sample>
  <span bloxSampleTitle>Flexible Toolbar Demo</span>
  <blox-snippet-toolbar-flexible bloxSample></blox-snippet-toolbar-flexible>
</blox-code-sample>

<div class="blox-docs-api">${require('../../../../build/docs/toolbar.html')}</div>
