name: Build, Test, Preview

on:
  push
  pull_request

jobs:
  build-bundle:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Use Node.js 14.15
        uses: actions/setup-node@v1
        with:
          node-version: 14.15
      - uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: install dependencies
        run: cd bundle && npm ci && cd ../site && npm ci
      - name: Test
        run: cd bundle && (npm run test:ci || touch failure.marker)
      - name: Archive test results and coverage
        uses: actions/upload-artifact@v2
        with:
          name: bundlecoverage
          path: bundle/coverage
      - name: Upload Coverage Data to Codecov
        uses: codecov/codecov-action@v1
        with:
          file: ./bundle/coverage/lcov.info
          flags: material,unittest
      - name: Check for Test Failures
        run: if [ -f ./bundle/failure.marker ] ; then exit 127; else exit 0; fi
      - name: Build
        run: cd bundle && npm run build
      - name: Archive build artifacts
        uses: actions/upload-artifact@v2
        with:
          name: bundlebuild
          path: |
            bundle/apidocs
            bundle/build
            bundle/dist
  build-site:
    runs-on: ubuntu-latest
    needs: build-bundle
    steps:
      - uses: actions/checkout@v2
      - name: Set up Use Node.js 14.15
        uses: actions/setup-node@v1
        with:
          node-version: 14.15
      - uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Download bundle build artifacts
        uses: actions/download-artifact@v2
        with:
          name: bundlebuild
          path: bundle
      - name: install depenencies
        run: cd bundle && npm ci && cd ../site && npm ci
      - name: Build
        run: cd site && npm run build
      - name: Create 404 page
        run: cp site/dist/material.html site/dist/404.html
      - name: Archive build artifacts
        uses: actions/upload-artifact@v2
        with:
          name: sitebuild
          path: |
            site/dist
  deploy-site-preview:
    runs-on: ubuntu-latest
    needs: build-site
    steps:
      - uses: actions/checkout@v2
      - name: Download site build artifacts
        uses: actions/download-artifact@v2
        with:
          name: sitebuild
          path: site/dist
      - name: Deploy preview site
        uses: FirebaseExtended/action-hosting-deploy@v0
        if: ${{ github.event_name == 'pull_request' }}
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_BLOX_36B2F }}'
          expires: 7d
          projectId: blox-36b2f
          entryPoint: site
        env:
          FIREBASE_CLI_PREVIEWS: hostingchannels
      - name: Deploy live site
        uses: FirebaseExtended/action-hosting-deploy@v0
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_BLOX_36B2F }}'
          projectId: blox-36b2f
          entryPoint: site
          channelId: live
        env:
          FIREBASE_CLI_PREVIEWS: hostingchannels
